@charset "utf-8";
/* Author:	
			Matthias Oßwald
			team:orange GmbH
			2009
*/
@import url("../_reset.css");
/*=====================================================================================*/
/* ALLGEMEIN
=======================================================================================*/
.footer 											{ clear:both; overflow:hidden; height:1px; }
.footer hr, hr, a span								{ display:none; }
a.btn span                                          { display:inline; }


/*=====================================================================================*/
/* STRUCT
=======================================================================================*/
body												{ background:url(../../_images/body-back.jpg) repeat-x #eff1ee; }
#stage 												{ }
#page 												{ width:1048px; }
	#header 											{ background:url(../../_images/shop/header-back.png) no-repeat top left; height:90px; padding:14px 14px 0 14px; margin-left:50px; overflow:hidden;  }
	#testheader										{ width:970px; overflow: auto; margin:0 auto;  margin-bottom:20px;  border-bottom:4px solid #8abb14}
	#testverlag #testheader						{ width:970px; margin:0 auto;  margin:0; display:none; border:none;}
	
	#mask												{ width:970px; height:250px; z-index:10; margin:0; padding:0; background:url(../../_images/shop/slider-mask-bg.png) repeat-y; position:absolute;}
	#appslider 										{ background:url(../../_images/mainnavi-back.gif) no-repeat top left; border-bottom:4px solid #8abb14; height:250px; margin-bottom:20px; position:relative; }
	#content											{ background:url(../../_images/shop/content-back.png) repeat-y top left; padding:0 14px 30px 14px; margin-left:50px; }
		#section											{ float:right; padding:0 16px 0 0; width:660px;  }
		#aside												{ float:left; width:270px; padding:15px 0 0 16px; position:relative;  }
		#testverlag #aside												{ float:left; width:270px; padding:1px 0 0 16px; position:relative;  }
	#footer 											{ background:url(../../_images/shop/footer-back.png) no-repeat top left; clear:both; height:55px; padding:0 14px; margin-left:50px; }
	
	.home #slider,
	.tunnel_test #slider 								{ background:url(../../_images/mainnavi-home-back.gif) no-repeat top left; height:335px; }
	#login #slider									{ height:255px; }


* html #header 											{ background:url(../../_images/shop/header-back.gif) no-repeat top left; }
* html #content											{ background:url(../../_images/shop/content-back.gif) repeat-y top left; }
* html #footer 											{ background:url(../../_images/shop/footer-back.gif) no-repeat top left; }


.imagespopup {
	position:relative;
	background: url("../../_images/shop/zoom_bg.gif") no-repeat scroll left top transparent;
	height: 195px;
	width: 310px;
}

.imagespopup .images a img {   
    display: block;
    overflow: hidden;
    position: absolute;  
}

.imagespopup .images a.img1 img {
    border: 1px solid #CCCCCC;
    max-height: 175px;
    left: 10px;
    max-width: 230px;
    top: 7px;
}

.imagespopup .images a.img2 img {
    border: 1px solid #CCCCCC;
    max-height: 50px;
    max-width: 46px;
    right: 12px;
    top: 7px;
}

.imagespopup .images a.img3 img {
    border: 1px solid #CCCCCC;
    max-height: 45px;
    max-width: 45px;
    right: 12px;
    top: 65px;
}

.imagespopup .images a.hidden												{ display:none; }





/*=====================================================================================*/
/* EDITOR CONCRETE
=======================================================================================*/
	.editor #page #content #mask						{ z-index:0; display:none;}
	.editor #page #content .showcase-content-wrapper p.static-caption { z-index:0;}
	.editor #page #content #showcase.showcase .showcase-arrow-previous,
	.editor #page #content #showcase.showcase .showcase-arrow-next    { z-index:1;}
	.editor #page div.page-middle div#content div#appslider { margin-bottom:40px; border:none; height:auto;}
	.editor #page div.page-middle div#content div#appslider .txt { z-index:0;}
	.editor #page #content .showcase-content-wrapper {height:auto; display:block;}
/*=====================================================================================*/
/* HEADER
=======================================================================================*/


div#imageslider {
    height: 250px;
    overflow: hidden;
    position: relative;
    width: 970px;
}
div#imageslider ul#carousel {
	margin-left: 157px;
}
div#imageslider ul#carousel li {
}
.infiniteCarousel {
    height: 250px !important;
    overflow: visible !important;
    width: 970px !important;
}
.infiniteCarousel_item {
    overflow: visible !important;
}
.infiniteCarousel_item:hover {
    z-index: 5;
}
.ic_tray {
	margin-left: 157px;	
}
.ic_caption {
    display: none;
}
.ic_right_nav, .ic_left_nav {
    z-index: 10;
}

/*.ic_right_nav img:hover, .ic_left_nav img:hover {
	opacity:0.5;
}*/


	/*=====================================================================================*/
	/* TOPNAVI
	=======================================================================================*/
	#topnavi 											{ float:right; margin:10px 18px 0 0; }
	#topnavi li 										{ float:left; }
	#topnavi li a 										{ border-left:1px solid #999999;
														color:#999999;
														height:10px;
														float:left;
														line-height:12px;
														font-size:11px;
														font-family:Georgia, "Times New Roman", Times, serif;
														font-style:italic;
														padding:0px 4px;
														text-decoration:none; }
	#topnavi li a:hover									{ color:#000000; }
	#topnavi li.first a 								{ border:none;}
/*=====================================================================================*/
/* MAINNAVI
=======================================================================================
#noscriptfallback										{ background: url(../../_images/content-back.png) 50px 0 repeat-y; height:255px; }
.home #noscriptfallback									{ height:335px; }

#slider ul											{ padding:20px 0 20px 100px; clear:both;}
#slider ul li											{ float:left; padding-right:10px;}
#slider ul li a										{ color: #85bb16; float:left; font-weight:bold; font-size:14px; line-height:24px; padding:0 4px;}
#slider ul li a.selected,
#slider ul li a.selected:hover						{ background-color:#85bb16; color: #ffffff;}
#slider ul ul											{ padding:0; position:absolute; top:50px; left:100px;}
#slider ul li li										{ padding-right:5px; clear:both;}
#slider ul li li a									{ color: #676767; font-weight:normal; font-size:12px; line-height:17px;}
#slider ul li li a:hover								{ color: #85bb16; }
#slider ul li li a.selected,
#slider ul li a.selected:hover						{ color: #000000; font-weight:bold; background:none;}
#slider ul li li ul									{ position:relative; top:0; left:10px; padding:5px 0;}
#slider ul li li li a									{ color: #999; font-size:11px;}
#slider ul li li li a.selected						{ color: #676767; font-weight:bold; background:none;}*/
/*=====================================================================================*/
/* CONTENT
=======================================================================================*/
/* ----------------------------------------------------------------------------------- */
/* 	DIAGONAL BOX  */
#content .diagonal-box									{ background:url(../../_images/diagonal-box-back.gif) repeat;
														margin-bottom:20px;
														padding:6px;
														position:relative;}
#content .diagonal-box.last								{ margin-bottom:0;}
#content .diagonal-box .content							{ background-color:#FFF;
														font-size:12px;
														margin-bottom:6px;
														padding:6px;}
														
#content .diagonal-box .content p							{ padding:0 5px 5px 5px;}
#content .diagonal-box .content a:link,
#content .diagonal-box .content a:visited { color:#84BC11; text-decoration:none;}
														
#content .diagonal-box .content:last-child				{ margin-bottom:0px;}

#content .diagonal-box h2								{ color:#676767;
														font-weight:bold;
														margin:8px 20px 8px 12px;}
#content .diagonal-box h5								{ color:#8dc026;
														font-family:"Georgia","Times New Roman", Times, serif;
														font-size:14px;
														font-style:italic;}
#content .diagonal-box ul								{ padding:10px 0; }
#content .diagonal-box li								{ color:#85bb0d;
														font-family:Georgia, "Times New Roman", Times, serif;}
#content .diagonal-box .textcol p						{ width:320px; }
#content .diagonal-box .imagecol						{ position:absolute; right:0; top:0; }

/* 	ZITATVARIANTE  */
#content .diagonal-box.zitat img						{ float:left; padding-top:20px; }
#content .diagonal-box.zitat .content					{ float:left; width:293px; margin-bottom:3px }
#content .diagonal-box.zitat .content p					{ font-size:11px; line-height: 16px;}
#content .diagonal-box.zitat .content p strong			{ color:#8dc026; font-weight:normal;}

/* 	KONTAKTFORMULAR  */
#content .diagonal-box form								{ margin:0;}
#content .diagonal-box form	table						{ margin:0 8px;}
#content .diagonal-box form td							{ border-bottom:1px dotted #cccccc;
														color:#353535;
														padding:4px 0 4px 0;}
#content .diagonal-box form tr.submit td				{ border-bottom:none;}
#content .diagonal-box form td.question					{ width:185px;}
#content .diagonal-box form td .text					{ width:270px;}
#content .diagonal-box form td textarea					{ width:270px; font-size:12px;}
#content .diagonal-box form td select					{ width:140px;}
#content .diagonal-box form td.required					{ color:#84bc11;}

#content .diagonal-box #msg	        					{ background-color:#FFFFFF; border:1px solid #84bc11; color:#84bc11; padding:5px;}
#content .diagonal-box #msg .error		     			{ font-weight:bold; padding:0;}

.ui-tooltip-content 									{ color:#000 !important; }


/* ----------------------------------------------------------------------------------- */
/* 	DIAGONAL GREEN BOX  */
#content .diagonal-green-box							{ background:url(../../_images/diagonal-green-box-back.gif) repeat;
														margin-bottom:20px;
														padding:6px; }
#content .diagonal-green-box.last						{ margin-bottom:0;}
#content .diagonal-green-box .content					{ background-color:#FFF;
														color:#85bb0d;
														font-size:12px;
														margin-bottom:6px;
														padding:6px;}
#content .diagonal-green-box .content:last-child		{ margin-bottom:0px;}

#content .diagonal-green-box h2							{ color:#85bb0d;
														font-weight:bold;
														margin-top:5px;}
#content .diagonal-green-box h5							{ color:#85bb0d;
														font-family:"Georgia","Times New Roman", Times, serif;
														font-size:14px;
														font-style:italic;}
#content .diagonal-green-box p							{ color:#85bb0d;
														font-family:Georgia, "Times New Roman", Times, serif;}



#content .diagonal-box div ul#topfive 		{ padding:0 10px;}
#content .diagonal-box div ul#topfive li  { padding:10px 3px 10px 35px; 
														 font-family:Arial, Helvetica, sans-serif;
														 font-size:11px;
														 color:#333333;
														 border-top:1px dotted #CCC;
														 background:url(../../_images/shop/top5.png) no-repeat;}


#content .diagonal-box div ul#topfive li.one  { background-position: 0 0; border-top:none;} 
#content .diagonal-box div ul#topfive li.two  { background-position: 0 -49px;} 
#content .diagonal-box div ul#topfive li.three  { background-position: 0 -94px;} 
#content .diagonal-box div ul#topfive li.four  { background-position: 0 -154px;} 
#content .diagonal-box div ul#topfive li.five  { background-position: 0 -201px;} 


#content .tabcontent {
															 background: url("/themes/hr-d/_images/shop/tooltip_bg.png") repeat scroll 0 0 transparent;
															 color: #000000;
															 font-size: 11px;
															 height: 118px;
															 padding: 20px 10px;
															 width: 579px;
															 float: left;
															 font-size: 11px;
															 margin-top: -2px;
														}




/* ----------------------------------------------------------------------------------- */
/* 	ZITAT BOX  */
#content .zitat-box										{ background:url(../../_images/diagonal-box-back.gif) repeat;
														margin:20px 100px 5px 12px;
														padding:6px; }
#content .zitat-box.last								{ margin-bottom:0;}
#content .zitat-box .content							{ background-color:#FFF;
														font-size:12px;
														margin-bottom:6px;
														padding:6px 6px 6px 0;}
#content .zitat-box .content:last-child					{ margin-bottom:0px;}

#content .zitat-box blockquote							{ float:left; margin:0 11px 10px 0; }
#content .zitat-box h2									{ background:none; clear:none; border:none; margin:16px 0 0 0; padding-bottom:1px; }
#content .zitat-box h2 strong							{ background:#85bb0d;
														color:#FFFFFF;
														font-weight:bold;
														font-size:14px;
														font-family:Arial, Helvetica, sans-serif;
														margin-top:5px;
														padding:0 4px;}
#content .zitat-box h3									{ font-family:Arial, Helvetica, sans-serif;
														margin:0 0 1px 0;
														padding:0; }
#content .zitat-box h3 em								{ background:#85bb0d;
														display:inline;
														color:#FFFFFF;
														font-weight:normal;
														font-size:11px;
														margin-top:6px;
														padding:0 4px;}
#content .zitat-box p,
#content .zitat-box li									{ font-size:11px; line-height:15px; padding-right:5px;}

/* ----------------------------------------------------------------------------------- */
/* 	THUMB BOX  */
#content .thumb-box										{ }
#content .thumb-box img									{ float:left; margin:0 11px 0 14px; }
#content .thumb-box .content							{ float:left; width:400px; }

	/*=====================================================================================*/
	/* SECTION
	=======================================================================================*/
	
	#section .breadcrumb									{ color:#000; font-size:11px;}
	#section .breadcrumb	.ccm-autonav-breadcrumb-sep{ padding:0 5px;}
	#section .breadcrumb	span						{ color:#999999; font-size:11px; padding-left:15px; padding-right:5px; font-weight:bold;}
	#section .breadcrumb	a							{ color:#84bc11; text-decoration:none;}
	
	#section hr												{ border:none; background-color:#FFF; height:1px;
															 border-bottom:1px dotted #a7a6a4;
															 display:block;
															 margin:15px 95px 0 12px;}
	#section .hr hr,
	#section .hr-top hr,
	#section .hr-bottom hr									{ display:none!important;}
	#section h1												{ color:#84bc11;
															font-size:25px;
															line-height:27px;
															margin:4px 0 10px 0;
															padding:0 12px;
															text-transform:uppercase;}
	#section h1 em											{ color:#676767; font-weight:normal;}
	#section h1 embed										{ width:100%;}
	#section h2												{ background:url(../../_images/green-big-dot.gif) no-repeat left 6px;
															border-bottom:1px dotted #a7a6a4;
															clear:both;
															color:#84bc11;
															font-size:16px;
															font-family:"Georgia","Times New Roman", Times, serif;
															line-height:18px;
															margin:20px 90px 4px 12px;
															padding:0 0 4px 12px;}
	#section h2.flashheadline								{ background:none; padding-left:0; font-family:Arial, Helvetica, sans-serif; }
	#section h3												{ color:#363636;
															font-family:Georgia, "Times New Roman", Times, serif;
															font-size:12px;
															font-weight:bold;
															line-height:18px;
															margin:20px 0 5px 0;
															padding:0 90px 0 12px}
	#section h4												{ font-size:12px;
															margin:15px 0 0 11px;}
	#section .hr											{ background:url(../../_images/hr-section.gif) no-repeat; height:5px; margin:10px 0 10px 14px; }
	#section .hr-top										{ background:url(../../_images/shop/hr-section-top.jpg) no-repeat; height:12px; }
	#section .hr-bottom										{ background:url(../../_images/shop/hr-section-bottom.jpg) 0 30px no-repeat; height:12px; padding-top:30px; }
	
	#section .image-block									{ margin:10px 0 10px 12px ;}
	#section .small-image-block								{ margin:0 0 0 12px ;}
	#section .legende-block-top								{ margin:15px 0 0px 12px ;}
	#section .legende-block-bottom							{ margin:0px 0 15px 12px ;}
	
	#section p												{ color:#363636;
															font-size:12px;
															line-height:17px;
															padding:5px 120px 5px 12px;}
	#section p.teaser									{ color:#595959;
															font-size:15px;
															font-family:"Georgia","Times New Roman", Times, serif;
															font-style:italic;
															line-height:20px;
															padding:5px 120px 5px 14px;}
		
	#content #section .tabcontent p,
	
	#content #section #steps div.tooltip p				{ padding:5px 10px 5px 14px;}
	#content #section #steps .tabcontent p				{ color:#333; padding:5px 20px 5px 14px;}
	#content #section #steps .tabcontent p.teaser	{ color:#333; padding:20px 20px 5px 14px;}
	#content #section #steps .tabcontent p #register{ float:right; margin-right:112px;}
	
	
	#testverlag #content #section #produktbox 		{ min-height:295px; width:593px;
																		background:url(../../_images/shop/produkt_bg.jpg) repeat-y; 
																		float:left; 
																		box-shadow: 2px 2px 5px #CCC;
																		margin-left:14px;
																		margin-top:15px;}


	#content #section #produktbox .iconbox				{ display: inline-block; float: left; height:150px; width:140px; overflow:hidden;}
	#content #section #produktbox .iconbox	.icon	img{ padding-left:22px; padding-top:10px;}
	#content #section #produktbox .iconbox	p			{ padding:0px; font-size:11px; text-align:center; line-height:12px;}
	#content #section #produktbox .iconbox	a			{ text-decoration:none; }

	#content #produktbox-mini .iconbox	p				{ padding:0px; font-size:11px; text-align:left; line-height:12px; padding-top:5px;}
	#content #produktbox-mini .iconbox	a			{ text-decoration:none; }
	#content #produktbox-mini .iconbox				{ float:left; width:200px;}
	#content #produktbox-mini .iconbox .icon		{ float:left; margin-right:12px;}
	#content #produktbox-mini								{float:left;}
	#content #produktbox-mini.diagonal-box div.content div.iconbox a p br {display:none;}
	
	
	#testverlag #section h2									{margin:20px 30px 4px 12px}
	.home #section p,
	#erecruiting #section p									{ padding:5px 14px 5px 14px;}
	


	/*#section p strong										{ color:#84bc11; font-weight:normal;}*/
	#section a											{ color:#85bb16; font-weight:normal; text-decoration:none;}
	#section a:hover										{ color:#595959;}
	#section a img										{ vertical-align:middle;}
	
	#section a.thickbox									{ float:left; margin:0 15px 5px 0; padding-top:3px; }
	
	#section ul,#section ol									{ margin:5px 120px 5px 12px; }
	#section li												{ color:#363636;
															font-size:12px;
															line-height:16px;
															margin-left:14px;
															text-indent:-14px;}
	#section ul li											{ list-style:url(../../_images/green-dot.gif) inside;}
	#section ul ul											{ margin:0; }
	#section ul ul li										{ list-style:url(../../_images/grey-arrow.gif) inside; }
	
	#section ol li											{ list-style:decimal inside;
															margin-left:21px;
															text-indent:-21px;}
	#section p a.startNavigator								{ background-repeat: no-repeat;
															background-image:url(../../_images/buttons/navigator-starten-btn.jpg);
															background-position:top left;
															margin:-15px 0 0 -3px;
															display:block;
															height:145px;
															width:414px; }
	#section p a.startNavigator-en							{ background-repeat: no-repeat;
															background-image:url(../../_images/buttons/navigator-starten-btn-en.jpg);
															background-position:top left;
															margin:-15px 0 0 -3px;
															display:block;
															height:145px;
															width:414px; }
	#section p a.startNavigator:hover						{ background-position:bottom left; }
	#section p a.startNavigator-en:hover					{ background-position:bottom left; }
	
	
	#registrieren .formBlockSubmitButton,
	#register .formBlockSubmitButton
															{ cursor:pointer;
				  											  display:inline-block;
				  											  background:#84BC11;
				  											  padding:5px 14px 6px;
															  text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);
				  											  color:#000;
				  											  font-size:13px;
				  											  line-height:normal;
				  											  border:1px solid #84BC11;
				  											  -webkit-border-radius:4px;
				  											  -moz-border-radius:4px;
				  											  border-radius:4px;
				  											  -webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
				  											  -moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
				  											  box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
				  											  -webkit-transition:0.1s linear all;-moz-transition:0.1s linear all;
				  											  -ms-transition:0.1s linear all;-o-transition:0.1s linear all;
				  											  transition:0.1s linear all;
															  filter:none;
	}
				  	
	#registrieren .formBlockSubmitButton:hover,
	#register .formBlockSubmitButton:hover{
																background:#84BC11;
	                                                           color:#333;
	                                                           text-decoration:none; 
	 }
	
		
	
	/* ----------------------------------------------------------------------------------- */
	/* 	SHOP APP-BOX  */
	
	
	#section .app-box 								{ font-family:Arial, Helvetica, sans-serif;
															  display: inline-block;
															  float: left;
															  width:280px;
															  overflow:hidden;
															  padding:20px 30px 20px 15px;
															  border-bottom:1px dotted #999;
															  position:relative;}
															  

																													  
	#section .app-box p.desc, #section .app-box p.desc a,
	#section .app-box-batterie p.desc a{					 font-size:11px;
															  color:#333;
															  padding:0;
															  text-decoration:none;}
															  
	#section .app-box-batterie p.desc{						padding-left:0px;}														  
															  
	#section .app-box .info,
	#section .app-box-batterie .info						{padding-top:15px;
															width:305px;}
	#section .app-box-batterie .info						{width:625px;}
	#section .app-box .info .icon,
	#section .app-box-batterie .info .icon					{ float:left;
															  width:75px;}
	#section .app-box .info .list,
	#section .app-box-batterie .info .list							{ float:left;
															  font-size:11px;
															  width:230px;}
	#section .app-box-batterie .info .list					{ width:250px;}
														  
															  
	#section .app-box .info .list ul						{ float:left;
															  width:215px;
															  margin:0;
															  }
	#section .app-box-batterie .info .list ul					{ float:left; margin-top:0px; margin-left:0px;}
														  
	#section .app-box .info .list ul li				{font-size:11px;}	
	#section .app-box .info .list .action 			{padding-top:10px; float:left; width:240px; position:absolute; bottom:20px;}
	#section .app-box-batterie .info .list .action 			{padding-top:20px;}
	
	#section .app-box .info .list .action p.price,
	#section .app-box-batterie .info .list .action p.price		{ font-size:20px;
																font-weight:bold;
																padding:0 0 0 7px;}

	#section .app-box-batterie .info .dimension					{ float:left; padding-left:40px; border-left:1px solid #999; margin-left:3px; font-size:11px!important; }

	
	#section .app-box h3, #section .app-box h3 a			{ font-family:Arial, Helvetica, sans-serif;
															  font-size:14px;
															  color:#84BC11;
															  padding:0;
															  margin:0 0 5px 0;
															  text-decoration:none;}
	
	
	#section .app-box-batterie .info .dimension	p				{ padding-left:0;}
	#section .app-box-batterie .info .dimension	ul				{ margin-left:0;}

	#section .app-box-batterie .info .dimension	a,
	#filtertool.content ul li a.ajax-search,
	#filtertool.content ul li a.ajax-searchactive					{ background:url(../../_images/shop/arrowlink.png) left center no-repeat;
																	font-size:11px; padding-left:15px; font-family:Arial, Helvetica, sans-serif;}
																	
	#filtertool.content ul li a.ajax-searchactive					{color:#000!important;}
																	
	#section .app-box .info .dimension							{ padding-bottom:50px; float:left;}
	#section .app-box .info .dimension ul						{padding-top:4px; margin-left:14px;}
	#section .app-box .info .dimension ul li						{ float:left; padding-right:3px; margin:0; text-indent:0;}
	#section .app-box .info .dimension ul li a						{ font-size:10px;}
	#section .app-box .info .list .action p.price a.buy,
	#section .app-box-batterie .action p.price a.buy		{ background:url(../../_images/shop/buy_btn.jpg) no-repeat; width:107px; height:21px; display:block;
float:right; margin-right:10px;}

	.en #section .app-box .info .list .action p.price a.buy,
	.en #section .app-box-batterie .action p.price a.buy		{ background:url(../../_images/shop/buy_btn_en.jpg) no-repeat; width:107px; height:21px; display:block;
float:right; margin-right:10px;}	
															  
	#section .app-box .info .list a.info-link, 
	#section .app-box-batterie .info .list a.info-link				{background: url("../../_images/green-arrow.gif") no-repeat scroll 0 6px transparent;
															 color: #85BB16;
															 font-weight: bold;
															 height: 15px;
															 margin-top: 10px;
															 margin-left:5px;
															 padding-left: 8px;
															 text-decoration: none;
															 font-size:11px;
															 line-height: 25px;}
															
															
															
	.tooltip {													color:#ffffff;
																background:#666;
																font-size:11px;
																padding:3px 5px;}
															
															
															
	#section .app-box-batterie .device-icons,
	#section .app-box .device-icons{							position:absolute;
																right:10px;
																top:10px;}														
															

    span.dimension-header       {line-height: 25px; }
	.messbereich-background   { background:url(../../_images/test/messbereich_bg.png) no-repeat; float:left; height:27px; width:27px; margin-right:5px; position:relative;}

	.messbereich-background img				{ margin:0px!important; }
	.messbereich-background .dimension-L		{ position:absolute; top:0px; right:0px;}
	.messbereich-background .dimension-P		{ position:absolute; bottom:1px; right:0px;}
	.messbereich-background .dimension-V		{ position:absolute; bottom:1px; left:0px;}
	.messbereich-background .dimension-I		{ position:absolute; top:0px; left:0px;}
	/* 	SHOP APP-BOX  */
	
	
	#section .app-footer 								{ font-family:Arial, Helvetica, sans-serif;
																background:url(../../_images/shop/appfooter_bg.png) repeat-x;
															  width:600px;
															  margin-top:25px;
																box-shadow: 2px 2px 5px #CCC;
															  padding:10px 30px 5px 15px;}
															  

																													  
	#section .app-footer p.desc						{font-size:11px;
															  color:#333;
															  padding:0;}
															  
	#section .app-footer .info 						{padding-top:15px; width:600px; height:125px;}
	#section .app-footer .info .leftcol						{float:left; width:300px;}
	#section .app-footer .info .rightcol						{float:left; width:270px; height:100px; padding-left:25px; border-left:1px solid #CCC;}
	#section .app-footer .info .rightcol ul						{ margin-left:0px;}
	
	#section .app-footer .info .leftcol	.icon		{ float:left;
															  width:75px;}
	#section .app-footer .info .list					{ float:left;
															  font-size:11px;
															  width:215px;}
															  
	
	#section .app-footer .info .list span		{	font-size:20px;
																font-weight:bold;
															  }
	
	
	#section .app-footer .info .list ul				{ float:left;
															  width:215px;
															  margin:0;
															  }
															  
	#section .app-footer .info .list ul li				{font-size:11px;}	
	#section .app-footer .info .list .action 			{padding-top:10px;}
	
	#section .app-footer .info .list .action p.price{ font-size:20px;
																	font-weight:bold;
																	padding:0 0 0 7px;}

	#section .app-footer h3,
	#section .app-box-batterie h3							{ font-family:Arial, Helvetica, sans-serif;
															  font-size:14px;
															  color:#84BC11;
															  padding:0;
															  margin:0 0 5px 0;}
															  
	#section .app-footer .info .list a.buy{ background:url(../../_images/shop/buy_btn.jpg) no-repeat; width:107px; height:21px; display:block; float:none; margin-top:20px;}
	
		.en #section .app-footer .info .list a.buy{ background:url(../../_images/shop/buy_btn_en.jpg) no-repeat; width:107px; height:21px; display:block; float:none; margin-top:20px;}
															  
	#section .app-footer .info .list a.info-link  {background: url("../../_images/green-arrow.gif") no-repeat scroll 0 6px transparent;
															 color: #85BB16;
															 font-weight: bold;
															 height: 15px;
															 margin-top: 10px;
															 margin-left:5px;
															 padding-left: 8px;
															 text-decoration: none;
															 font-size:11px;}													
															
															
															
															
															
	#section .app-box-batterie 								{ font-family:Arial, Helvetica, sans-serif;
																background:url(../../_images/shop/appfooter_bg.png) repeat-x #F7F7F7;
															  width:600px;
															  float:left;
															  margin:12px 0;
																box-shadow: 2px 2px 5px #CCC;
															  padding:10px 30px 15px 15px;
															  position:relative;}														
															
															
															
															
															
	#produktbox-mini.diagonal-box div#filtertool.content h2 { margin:0; color:#000;}													
    #produktbox-mini.diagonal-box div#filtertool.content h2 img.pieslice {padding-left: 5px; }
	
	#filtertool.content ul li								{padding-left:20px;
															text-indent:-15px;}
	
	#filtertool.content ul 									{border-bottom:1px solid #e7e7e7; margin-bottom:10px;}

	/* ----------------------------------------------------------------------------------- */
	/* 	SHOP HEADER-BOX  */
	
	#testheader div											{display:inline-block; float:left; }
	
	#testheader .app-header 								{ font-family:Arial, Helvetica, sans-serif;
																		background:url(../../_images/shop/appheader_bg.png) repeat-x #F1F2F7;
															 		 width:239px;
																	 height:210px;
																	 padding:20px;
																	 border-left:1px solid #e4e4e4;
																	 border-right:1px solid #e4e4e4;
																	 border-top:1px solid #e4e4e4;
																	 margin-left:20px;}

	#testheader .app-header .info 						{width:280px;}
	#testheader .app-header .info .icon						{float:left; width:80px;}
	#testheader .app-header .info .list						{float:left; width:180px;}
	
	
	#testheader .app-header .info .list	h3,
	#testheader .app-header .info .details	h3{			color: #84BC11;
																	 font-family: Arial,Helvetica,sans-serif;
																	 font-size: 12px;
																	 margin: 0 0 5px;
																	 padding: 20px 0 0 0;}


	#testheader .app-header .info .list	h3{ padding:0;}
	#testheader .app-header .info .details	h3{ padding:20px 0 0 10px;}
	#testheader .app-header .info .list	span{			font-size: 20px;
																	 font-weight: bold;
																	 padding: 0;}









	#testheader li												{ color:#363636;
															font-size:11px;
															line-height:18px;
															margin-left:14px;
															text-indent:-14px;}
	#testheader ul li											{ list-style:url(../../_images/green-dot.gif) inside;}
	#testheader ul ul											{ margin:0; }
	#testheader ul ul li										{ list-style:url(../../_images/grey-arrow.gif) inside; }
	
	
	
	
	.tests #section ul										{ margin:5px 0 5px 11px;}
	.tests #section ul li									{ font-size: 11px; }
	.tests #section p										{ padding:5px 0px 5px 11px;}
	.tests #section h2										{ margin:20px 17px 4px 11px; background:none; padding:0 0 4px 1px;}
	/* ----------------------------------------------------------------------------------- */
	/* 	THREECOL  */
	#section .threecol										{ padding:10px 15px 0 14px;}
	#section .threecol .leftcol								{ float:left; width:183px;}
	#section .threecol .centercol							{ float:left; margin-left:11px; width:183px;}
	#section .threecol .rightcol							{ float:right; width:183px;}

	#section .threecol h2									{ background:none; margin:0; padding:0;}
	#section .threecol p									{ font-size:11px; line-height:16px; padding:2px 5px 6px 5px; }
	#section .threecol p.teaser								{ color:#000000; font-size:14px; font-style:italic; line-height:18px; padding:5px 5px;}
	#section .threecol p a									{ color:#85bb16; font-size:12px; text-decoration:none; }
	#section .threecol p a:hover							{ color:#595959; }

	/* 	ERECRUITING */
	#erecruiting #section .threecol							{ margin-top:20px;}
	#erecruiting #section .threecol .leftcol,
	#erecruiting #section .threecol .centercol,
	#erecruiting #section .threecol .rightcol				{ background:url(../../_images/diagonal-box-back.gif);
															padding:6px;
															width:168px;}
	#erecruiting #section .threecol .centercol				{ margin-left:16px;}
	#erecruiting #section .threecol .content				{ background:#FFFFFF;
															height:168px;
															margin:6px 0 0 0;
															padding:10px; }
	#erecruiting #section .threecol h2						{ margin:0 0 6px 0; padding:2px 3px; }
	#erecruiting #section .threecol p						{ padding:5px 0;}


	/* ----------------------------------------------------------------------------------- */
	/* 	TWOCOL  */
	#section .twocol										{ padding:10px 90px 0 14px;}
	#section .twocol .leftcol								{ float:left; width:242px;}
	#section .twocol .rightcol								{ float:right; width:242px;}
	
	#section .twocol p										{ font-size:11px; line-height:16px; padding:2px 5px 6px 5px; }
	#section .twocol p.teaser								{ color:#000000; font-size:14px; font-style:italic; line-height:18px; padding:5px 5px;}
	#section .twocol p a									{ font-size:12px; }

	/* ----------------------------------------------------------------------------------- */
	/* 	DIAGONAL BOX  */
	#section .diagonal-box									{ margin:20px 90px 10px 12px; }
	#section .diagonal-box h2								{ background:none;
															font-size:12px;
															font-weight:bold;
															font-style:italic;
															margin-right:12px;
															padding:0 0 2px 0; }
	#section .diagonal-box p								{ padding-right:12px; }
	/* ----------------------------------------------------------------------------------- */
	/* 	DIAGONAL GREEN BOX  */
	#section .diagonal-green-box							{ margin:20px 90px 10px 12px; }
	#section .diagonal-green-box h2							{ background:none;
															font-size:12px;
															font-weight:bold;
															font-style:italic;
															margin-right:12px;
															padding:0 0 2px 0; }
	#section .diagonal-green-box p							{ padding-right:12px; line-height: 18px; }
	#section .diagonal-green-box p a						{ color:#4A7200; }
	#section .diagonal-green-box p a:hover					{ color:#2A3F00; }

	/* ----------------------------------------------------------------------------------- */
	/* 	KONTAKT BOX  */
	#section .formBlockSurveyTable							{ margin: 15px 0 10px 14px; }
	#section .formBlockSurveyTable td						{ font-size:12px; }

	/*=====================================================================================*/
	/* STANDARDPAGE
	=======================================================================================*/
	#section #standardPage									{ font-size:12px; padding-left:12px; }
	#section #standardPage h1								{ padding-left:0px; }
	#section #standardPage h2								{  background-image:none;
															background-color:#FFF;
															border:none;
															
															margin:0!important;
															padding:10px 14px 5px 14px;}
	#section #standardPage p								{  background-color:#FFF; padding-bottom:10px; }
	#section #standardPage form br							{ display:none;}
	#section #standardPage a								{ color:#85bb16; font-weight:normal; text-decoration:none;}
	#section #standardPage a:hover							{ color:#595959;}
	#section #standardPage hr								{ clear:both; padding:10px 0 0 0; margin:10px 3px 10px 0; }
	#section #standardPage .ccm-form						{ background:url(../../_images/diagonal-box-back.gif) repeat;
															margin:0 90px 20px 0;
															padding:6px 6px 25px 6px; }
	#section #standardPage form								{ background-color:#FFF;
															font-size:12px;
															margin-bottom:6px;
															padding:6px 6px 6px 11px; }
	#section #standardPage div								{ clear:both; padding:4px 0; }
	#section #standardPage label							{ float:left; width:150px; line-height:22px }
	#section #standardPage .ccm-input-text					{ float:left; width:305px;}
	#section #standardPage .ccm-button						{ background:none; text-align:right; padding-right: 4px; }
	
	/*=====================================================================================*/
	/* BLÖCKE
	=======================================================================================*/
	/* ----------------------------------------------------------------------------------- */
	/* 	SLIDER  */
	#section .slider										{ border-bottom: 1px solid #e4e4e4;
															margin:0 90px 0 12px;}
	#section .slider h4										{ background:url(../../_images/accordion/accordion-headline-arrow.gif) 10px 7px no-repeat; 
															cursor:pointer;
															font-weight:normal;
															font-size:12px;
															margin:0 0 0 0;
															padding: 4px 0 4px 25px;}
	#section .slider .open h4								{ background:url(../../_images/accordion/accordion-headline-arrow2.gif) 10px 7px no-repeat; }
	#section .slider .content								{ background:url(../../_images/diagonal-grey-box-back.gif) repeat; margin-bottom:6px;}
	#section .slider .content p								{ color:#575757; margin:0; padding:13px 40px 13px 25px;}

	/* ----------------------------------------------------------------------------------- */
	/* 	SUBITEM  */
	#section .subitem										{ margin:20px 0 10px 0; width:497px;}
	#section .subitem .top									{ background:url(../../_images/diagonal-box-back.gif) repeat; border:1px solid #e8eceb; padding:6px; }
	#content .subitem .top h2								{ background-color:#FFF; border:0; margin:0; padding:0 0 0 5px; }
	#content .subitem .top h2 a								{ color:#84bc11;  }
	#section .subitem .content								{ background:url(../../_images/subitem/subitem-back.jpg) no-repeat bottom left;
															position:relative;
															padding:15px 0 0 0;}
	#section .subitem .leftcol								{ padding-bottom:30px; width:430px; }
	#section .subitem .rightcol								{ position:absolute; right:0; bottom:0; }
	/* 	INDIVIDUELL  */
	#tests #section .subitem								{ margin:20px 0 10px 15px;}
	/*-------------------------------------------------------------------------------------*/
	/* ACCORDION
	---------------------------------------------------------------------------------------*/
	#section .accordion										{ margin:0 19px 4px 15px;}
	#section .accordion .top								{ background:url(../../_images/accordion/accordion-headline-back.gif) repeat-x;
															cursor:pointer;
															height:21px;}
	#section .accordion .top h4								{ background:url(../../_images/accordion/accordion-headline-arrow.gif) 10px 7px no-repeat;
															color:#000000;
															display:inline;
															font-family: Georgia,"Times New Roman",Times,serif;
															font-weight:normal;
															font-size:12px;
															float:left;
															line-height:21px;
															margin:0;
															overflow:hidden;
															padding:0 0 0 25px;
															text-transform: none;}
	#section .accordion .open h4							{ background:url(../../_images/accordion/accordion-headline-arrow2.gif) 10px 7px no-repeat; }
	#section .accordion .top .choise						{ float:right; padding-right:3px;}
	#section .accordion .top .choise div					{ float:left;
															font-size:10px;
															height:19px;
															margin:1px 1px 0 0;
															text-align:center;
															width:19px; }
	#section .accordion .top .choise .Sverfuegbar			{ background:url(../../_images/accordion/choise.jpg) no-repeat 0px -38px ;}
	#section .accordion .top .choise .Soptional				{ background:url(../../_images/accordion/choise.jpg) no-repeat 0px -19px ;}
	#section .accordion .top .choise .Snicht-verfuegbar		{ background:url(../../_images/accordion/choise.jpg) no-repeat 0px 0px ;}

	#section .accordion .top .choise .Mverfuegbar			{ background:url(../../_images/accordion/choise.jpg) no-repeat -18px -38px ;}
	#section .accordion .top .choise .Moptional				{ background:url(../../_images/accordion/choise.jpg) no-repeat -18px -19px ;}
	#section .accordion .top .choise .Mnicht-verfuegbar		{ background:url(../../_images/accordion/choise.jpg) no-repeat -18px 0px ;}

	#section .accordion .top .choise .XLverfuegbar			{ background:url(../../_images/accordion/choise.jpg) no-repeat -36px -38px ;}
	#section .accordion .top .choise .XLoptional			{ background:url(../../_images/accordion/choise.jpg) no-repeat -36px -19px ;}
	#section .accordion .top .choise .XLnicht-verfuegbar	{ background:url(../../_images/accordion/choise.jpg) no-repeat -36px 0px ;}

	#section .accordion .top .choise .SSPverfuegbar			{ background:url(../../_images/accordion/choise.jpg) no-repeat -54px -38px; width:21px;}
	#section .accordion .top .choise .SSPoptional			{ background:url(../../_images/accordion/choise.jpg) no-repeat -54px -19px; width:21px;}
	#section .accordion .top .choise .SSPnicht-verfuegbar	{ background:url(../../_images/accordion/choise.jpg) no-repeat -54px 0px; width:21px;}


	#section .accordion .content							{ background:url(../../_images/accordion/accordion-content-back.gif) repeat;
															 clear:both;
																 padding:10px 4px 15px 4px;
															 position:relative;}
	#section .accordion .content p							{ padding:5px 20px 5px 23px;}
	
	/*-------------------------------------------------------------------------------------*/
	/* REFERENZENLISTE
	---------------------------------------------------------------------------------------*/
	#section #referenzenliste 								{ width: 600px; padding-left:13px;}
	#section #referenzenliste img 							{ float: left; padding: 0 10px 10px 0;}
	/*-------------------------------------------------------------------------------------*/
	/* PRESSE / NEWS
	---------------------------------------------------------------------------------------*/
	#section .news,
	#section .presse										{ padding:13px 0; }
	#section .news .top h4,
	#section .presse .top h4								{ color:#85BB16;
															font-family:Georgia, "Times New Roman", Times, serif;
															font-size:13px;
															font-weight:normal;
															 margin:5px 0 5px 12px;}
	#section .news .top h5,
	#section .presse .top h5								{ font-size:10px; margin:0 0 0 12px; font-weight:bold; }
	#section .news .bottom,
	#section .presse .bottom								{ border-top: 1px dotted #CCCCCC;
															 margin:10px 98px 0 12px;}	
	#section .news .bottom p,
	#section .presse .bottom p								{ font-size:10px; font-weight:bold; padding:0; }
	#section .news .bottom a,
	#section .presse .bottom a								{ background:url(../../_images/green-arrow.gif) no-repeat 0 4px;
															color:#85BB16;
															padding-left:8px;
															font-weight:bold;
															text-decoration:none; }
	#section .news .bottom a:hover
	#section .presse .bottom a:hover						{ color:#2A3F00; }


	/*=====================================================================================*/
	/* ASIDE
	=======================================================================================*/
	#aside .hr-top											{ background:url(../../_images/shop/hr-aside-top.jpg); clear:both; height:12px; }
	#aside .hr-bottom										{ background:url(../../_images/shop/hr-aside-bottom.jpg); clear:both; height:12px; }
	
	#aside a.btn img										{ padding:5px 0 0 12px ;}
	
	#aside .diagonal-box									{ margin:0 12px 12px 12px; }
	#aside .diagonal-box .content p					{ font-size:11px; line-height:16px;}
	
	
	#aside p.teaser									{ color:#595959;
															font-size:15px!important;
															font-family:"Georgia","Times New Roman", Times, serif;
															font-style:italic;
															line-height:20px!important;
															padding:5px 0 5px 10px;}
															
	#aside a.action											{background:url(../../_images/green-arrow.gif) no-repeat 0 6px;
																	color:#85BB16;
																	padding-left: 8px;
																	margin-top:10px;
																	font-weight:bold;
																	float:right;
																	height:15px;
																	text-decoration:none; }
																	
																	
	#aside .diagonal-box .login_block_form p.regtext{ font-family:Arial, Helvetica, sans-serif; 
																		color:#666666;
																		margin-top:10px;	
																		padding-right:25px;
																		
																		font-size:11px;}																
	#aside .diagonal-box .login_block_form p.regtext span{ color:#85BB16;
																			font-weight:bold;
																			display:block;}
																			
	#aside .diagonal-box .login_block_form input#uName,
	#aside .diagonal-box .login_block_form input#uPassword{ width:120px;
																				border:1px solid #85BB16;
																				height:15px;
																				background: url(../../_images/shop/login_placeholder.jpg) no-repeat #FFF;}
	#aside .diagonal-box .login_block_form .uNameWrap	{margin: 8px 0;}																		
	#aside .diagonal-box .login_block_form input#uName { background-position:0 -1px;}
	#aside .diagonal-box .login_block_form input#uPassword { background-position:0 -18px;}
	#aside .diagonal-box .login_block_form input#uName.focus,
	#aside .diagonal-box .login_block_form input#uPassword.focus { background-position:0 -100px;}
	#aside .diagonal-box .login_block_form .passwordWrap { float:left;}
	
	#aside .diagonal-box .login_block_form .loginButton input { background:url(../../_images/shop/login_btn.jpg) no-repeat; height:21px; width:78px; border:none; float:left; margin-left:15px;}

	#aside .categorylink                                        { display: inline-block;
																  line-height: 30px;
																  padding-left: 30px;
																  background-repeat:no-repeat;}
	#aside .categorylink.active                                 { color:#000!important; }
																
	/*-------------------------------------------------------------------------------------*/
	/* referenzen
	---------------------------------------------------------------------------------------*/
	#referenzen .middle h1 									{ margin-bottom:5px; padding-right:15px; text-align:center; }
	#referenzen .refPreview 								{ padding-bottom:5px;}
	#referenzen .refPreview div								{ position:relative; height:66px;}
	#referenzen .refPreview img								{ position:absolute; top:0; left:15px;}
	#referenzen .refPreview a 								{ background:none!important;}
	
	

/*=====================================================================================*/
/* FOOTER
=======================================================================================*/
	/*=====================================================================================*/
	/* FOOTERNAVI
	=======================================================================================*/
	#footernavi 										{ float:right; margin:10px 18px 5px 0; }
	#footernavi li 										{ float:left; }
	#footernavi li a							{  border-left:1px solid #999999;
														color:#999999;
														height:10px;
														float:left;
														line-height:8px;
														font-size:11px;
														font-family:Georgia, "Times New Roman", Times, serif;
														font-style:italic;
														padding:0px 4px;
														text-decoration:none; }
	#footernavi li a:hover								{ color:#000000; }
	#footernavi li.first a 								{ border:none;}


	/*=====================================================================================*/
	/* FOOTERBAR
	=======================================================================================*/
	#footerbar	 										{ clear:both;
														color:#FFFFFF;
														font-size:11px; 
														padding-left:20px;}
	#footerbar a 										{ color:#FFFFFF;
														font-size:9px;
														line-height:17px;
														text-decoration:none;
														padding-top:4px; }
	





