@charset "utf-8";
/* Author:	
			Matthias Oßwald
			team:orange GmbH
			2009
*/
/*=====================================================================================*/
/* STRUKTUR
=======================================================================================*/
body.popup											{ background-image:none; background-color:#FFF; padding:0; }
body.popup #content									{ background-image:none;
													padding:0;
													margin:0;
													width:840px;}

/*=====================================================================================*/
/* ALLGEMEIN
=======================================================================================*/
#left 												{ width:810px !important; }
#right 												{ display:none; }

/*=====================================================================================*/
/* TEASER
=======================================================================================*/
.teaser												{ padding:30px 0 20px 0;}
.teaser h1											{ font-size: 25px;
													line-height: 27px;
													margin: 4px 0 10px 5px;
													padding: 0 12px;
													text-transform: uppercase;}
.teaser p											{ font-size:12px;
													line-height:17px;
													padding: 0 50px 0 21px;}
/*=====================================================================================*/
/* FILTER
=======================================================================================*/
#filter  									 		{ background: url(/themes/hr-d/_images/test/test-filter-back.gif);
													margin:0px 12px 0 21px;
													padding:0 0 20px 10px;
													width:205px;
													float:left;}
#filter h1  										{ background:url(/themes/hr-d/_images/test/test-label-back.gif);
													font-size:13px;
													font-family:Georgia, "Times New Roman", Times, serif;
													font-weight:normal;
													line-height:19px;
													margin-left:-10px;
													padding:10px;
													text-transform:none;}
#filter h3  										{ font-size:12px; margin:20px 0 10px 0; line-height:normal;}
#filter label  										{ font-size:11px; line-height:normal; line-height:16px;}
#filter label input  								{ vertical-align:middle}

/*=====================================================================================*/
/* FILTERSTATUS
=======================================================================================*/
#filterstatus 			 							{ color:#BFBFBF; 
													display:none;
													font-size:12px;
													padding:0px 0 0 15px;
													float:left;}
#filterstatus a 	 								{ color:#BFBFBF;
													font-weight:bold;
													font-size:10px;
													display:block;}

/*=====================================================================================*/
/* TESTLISTE
=======================================================================================*/
#testliste  										{ float:right; width:567px; padding:3px; margin-right:8px;}
* html #testliste  									{ width:565px; margin-right:0px;}
#testliste .legende-block-bottom  					{ display:none; }
#testliste .ccm-area .legende-block-bottom  		{ display:block; }
#testliste h1  										{ font-family: Georgia,"Times New Roman",Times,serif; 
													text-transform: none;
													font-weight:normal;
													font-size:13px; 
													line-height:45px; 
													padding:0;
													margin:0;
													color:#000000}
#testliste h1 em  									{ font-weight:normal; font-style:italic; color:#85BB0D}
#testliste h2  										{ font-size:18px;
													font-family:Arial, Helvetica, sans-serif;
													font-weight:bold;
													margin-left:0;
													margin-top:15px;
													font-style:normal}
#testliste h3  										{ color:#000000;
													cursor:pointer;
													font-size:12px;
													height:21px;
													background: url(/themes/hr-d/_images/test/test-headline-back.gif) no-repeat;}
#testliste h4  										{ font-size:12px}
#testliste .hidden  								{ display:none}
#testliste h3 span.arrow 	 						{ display:block;
													background:url(/themes/hr-d/_images/test/test-headline-arrow.gif) 9px 7px no-repeat;
													width:15px;
													height:21px;
													float:left;
													padding-left:10px}
#testliste .open h3 span.arrow 						{ background:url(/themes/hr-d/_images/test/test-headline-arrow2.gif) 9px 7px no-repeat;}
#testliste h3 span.label 							{ display:block;
													width:440px;
													float:left;
													padding-top:4px;}
#testliste h3 span.label em 						{ font-weight:normal;}
#testliste h3 span.referral 						{ background-repeat:no-repeat;
													float:right;
													margin:1px 3px 0 0;
													height:19px;
													width:18px;}
#testliste h3 span.bedempfohlen						{ background:url(../_images/test/choise.jpg) 0px 0px;}
#testliste h3 span.empfohlen 						{ background:url(../_images/test/choise.jpg) 0px center;}
#testliste h3 span.jeweiligeentwicklung				{ background:url(../_images/test/choise.jpg) 0px bottom;}
#testliste h3 span.properties 						{ float:right;
													margin:1px 3px 0 0;
													height:19px;
													overflow:hidden;
													width:60px;}
#testliste p  										{ font-size:12px;
													line-height: 17px;
													margin: 0 0 10px 22px;
													padding-right: 20px;}
#testliste div.details								{ background:url(/themes/hr-d/_images/test/test-filter-back.gif);
													background-color:none;}
#testliste ul.tests  								{ background-color:#ffffff; margin-bottom:30px;}
#testliste li.test 		 							{ padding:0; margin-bottom:4px;}
#testliste li.test ul  								{ padding:0}
	/*=====================================================================================*/
	/* DETAILS
	=======================================================================================*/
	#testliste .details 	 								{ clear:both;
															display:none;
															font-size:12px;
															padding:10px 10px 4px 4px;
															position:relative;}
	#testliste .details #kurzbeschreibung p 				{ padding:8px 0 13px 0; width:450px;}	
	#testliste .details .hr									{ background:url(../_images/test/hr-back.gif) repeat-x;
															height:3px;
															margin:3px 0 10px 0;
															width:270px;}
	#testliste .details .ui-tabs-panel						{ position:static;}
	#testliste .details .leftcol 							{ float:left; width:200px;}
	#testliste .details .rightcol  							{ float:right; width:290px;}
	
	#testliste .details .images a							{ background:url(../_images/test/image-back.gif) no-repeat top left;
															display:block;
															height:102px;
															overflow:hidden;
															padding:4px 0px 0px 11px;
															position:relative;
															width:194px;}
	#testliste .details .images span						{ cursor:pointer;
															display:block;
															height:94px;
															overflow:hidden;
															width:116px;
															text-align:center;}
	#testliste .details .images img							{ height:80px; padding-top:7px;}
	#testliste .details .images a.hidden 					{ display:none;}
	#testliste .details table  								{ margin:5px 0; width:270px;}
	#testliste .details table td, #testliste .details table th { padding:2px 3px; background-color:#FFFFFF;}
	#testliste .details table thead td						{ border-bottom:1px dotted #bfbfbf; }
	#testliste .details table thead .headline				{ background:url(../_images/test/test-table-headline-back.gif) repeat-x;
															border-left:1px solid #FFFFFF;
															color:#FFF;
															font-weight:bold;
															font-size:10px;
															text-align:center;}
	#testliste .details table tbody th 						{ border-bottom:1px dotted #bfbfbf;
															border-right:1px solid #bfbfbf;
															border-left:1px solid #bfbfbf;
															font-weight:normal;
															font-size:11px;
															text-align:right;}
	#testliste .details table tbody td 						{ border-bottom:1px dotted #bfbfbf;
															border-right:1px solid #bfbfbf;
															text-align:center;
															font-size:11px;}
	#testliste .details table tbody td.check 				{ background:url(/themes/hr-d/_images/test/check.gif) no-repeat center #FFF;}
	#testliste .details table tbody td.cross 				{ background:url(/themes/hr-d/_images/test/cross.gif) no-repeat center #FFF;}
	
	#testliste .details .besonderheiten ul li				{ list-style: url(/themes/hr-d/_images/green-dot.gif) outside;
															padding:3px 0;
															line-height:15px;
															margin-left:12px;
															width:270px;}
	#testliste .details .guetekriterien li 					{ padding:3px 0;}
	
	/* TABS */
	.ui-tabs-nav a span 									{ display:block; font-size:11px;}