@charset "utf-8";#e_recruiting #section .threecol{margin-top:20px;}
#e_recruiting #section .threecol .leftcol,
#e_recruiting #section .threecol .centercol,
#e_recruiting #section .threecol .rightcol{background:url(../_images/diagonal-box-back.gif);padding:6px;width:168px;}
#e_recruiting #section .threecol .centercol{margin-left:16px;}
#e_recruiting #section .threecol .content{background:#FFFFFF;height:168px;margin:6px 0 0 0;padding:10px;}
#e_recruiting #section .threecol h2{margin:0 0 6px 0;padding:2px 3px;}
#e_recruiting #section .threecol p{padding:5px 0;}