@charset "utf-8";
/*RESET*/
a, abbr, acronym, address, applet, big, blockquote, body, caption, center, cite, code, dd, del, dfn, dir, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, isindex, kbd, label, legend, li, menu, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 101%;
    font-family: inherit;
    font-variant: inherit;
    vertical-align: baseline
}

body {
    color: #000;
    background: #fff
}

ol, ul {
    list-style: none
}

table {
    border-collapse: separate;
    border-spacing: 0
}

caption, td, th {
    text-align: left;
    font-weight: 400
}

blockquote:after, blockquote:before, q:after, q:before {
    content: none
}

blockquote, q {
    quotes: none
}

a:visited {
    text-decoration: none
}

dl, ol, ul {
    position: relative
}

html {
    overflow: auto
}

body, html, input, table, textarea {
    line-height: 1.4em;
    font-family: Arial, Helvetica, "Liberation Sans", sans-serif
}

code, input[type=password], kbd, pre, samp, var {
    font-family: Consolas, Monaco, "Liberation Mono", Andale Mono, monospace;
    font-size: .9em
}

dfn, dt, em, h3, h4, samp, strong, th {
    font-weight: 700
}

blockquote, q {
    font-style: italic
}

blockquote cite, q cite {
    font-style: normal
}

sub, sup {
    font-size: .7em;
    line-height: 1em
}

sub {
    vertical-align: sub
}

sup {
    vertical-align: super
}

caption {
    text-align: center
}

hr {
    clear: both
}

abbr, acronym {
    cursor: help
}

acronym {
    letter-spacing: .07em
}

* {
    line-height: normal
}

:focus, a:focus, input:focus {
    outline: 0
}

strong {
    font-variant: normal
}

.alt {
    display: none
}

/*STYLES*/
.footer {
    clear: both;
    overflow: hidden;
    height: 1px
}

.footer hr, .hidden, a span, hr {
    display: none
}

a.btn span {
    display: inline
}

body {
    background: url(../_images/body-back.jpg) repeat-x #eff1ee
}

#page {
    width: 920px
}

#header {
    background: url(../_images/header-back.png) no-repeat top left;
    height: 82px;
    padding: 14px 14px 0;
    margin-left: 50px;
    /*overflow: hidden*/
    position: relative;
}

.messerstoerer{
    position: absolute;
    right: 15px;
    top: 42px;
}

#en .messerstoerer{
    display: none;
}

#mainnavi {
    background: url(../_images/mainnavi-back.gif) no-repeat top left;
    height: 255px;
    position: relative
}

#content {
    background: url(../_images/content-back.png) repeat-y top left;
    padding: 0 14px 30px;
    margin-left: 50px
}

#section {
    float: left;
    padding: 0 0 0 27px;
    width: 601px
}

#aside {
    float: right;
    width: 213px;
    position: relative
}

#footer {
    background: url(../_images/footer-back.png) no-repeat top left;
    clear: both;
    height: 55px;
    padding: 0 14px;
    margin-left: 50px
}

.home #mainnavi, .tunnel_test #mainnavi {
    background: url(../_images/mainnavi-home-back.gif) no-repeat top left;
    height: 335px
}

#login #mainnavi {
    height: 255px
}

* html #header {
    background: url(../_images/header-back.gif) no-repeat top left
}

* html #content {
    background: url(../_images/content-back.gif) repeat-y top left
}

* html #footer {
    background: url(../_images/footer-back.gif) no-repeat top left
}

#topnavi {
    float: right;
    margin: 10px 18px 0 0
}

#topnavi li {
    float: left
}

#topnavi li a {
    border-left: 1px solid #999;
    color: #999;
    height: 10px;
    float: left;
    line-height: 12px;
    font-size: 11px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    padding: 0 4px;
    text-decoration: none
}

#topnavi li a:hover {
    color: #000
}

#topnavi li.first a {
    border: none
}

#noscriptfallback {
    background: url(../_images/content-back.png) 50px 0 repeat-y;
    height: 255px
}

.home #noscriptfallback {
    height: 335px
}

#mainnavi img {
    vertical-align: bottom
}

#mainnavi ul {
    padding: 20px 0 20px 100px;
    clear: both
}

#mainnavi ul li {
    float: left;
    padding-right: 10px
}

#mainnavi ul li a {
    color: #85bb16;
    float: left;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    padding: 0 4px
}

#mainnavi ul li a.selected, #mainnavi ul li a.selected:hover {
    background-color: #85bb16;
    color: #fff
}

#mainnavi ul ul {
    padding: 0;
    position: absolute;
    top: 50px;
    left: 100px
}

#mainnavi ul li li {
    padding-right: 5px;
    clear: both
}

#mainnavi ul li li a {
    color: #676767;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px
}

#mainnavi ul li li a:hover {
    color: #85bb16
}

#mainnavi ul li a.selected:hover, #mainnavi ul li li a.selected {
    color: #000;
    font-weight: 700;
    background: 0 0
}

#mainnavi ul li li ul {
    position: relative;
    top: 0;
    left: 10px;
    padding: 5px 0
}

#mainnavi ul li li li a {
    color: #999;
    font-size: 11px
}

#mainnavi ul li li li a.selected {
    color: #676767;
    font-weight: 700;
    background: 0 0
}

#content .diagonal-box {
    background: url(../_images/diagonal-box-back.gif) repeat;
    margin-bottom: 20px;
    padding: 6px;
    position: relative
}

#content .diagonal-box.last {
    margin-bottom: 0
}

#content .diagonal-box .content {
    background-color: #FFF;
    font-size: 12px;
    margin-bottom: 6px;
    padding: 6px
}

#content .diagonal-box .content:last-child {
    margin-bottom: 0
}

#content .diagonal-box h2 {
    color: #676767;
    font-weight: 700;
    margin: 8px 20px 8px 12px
}

#content .diagonal-box h5 {
    color: #8dc026;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 14px;
    font-style: italic
}

#content .diagonal-box ul {
    padding: 10px 0
}

#content .diagonal-box li {
    color: #85bb0d;
    font-family: Georgia, "Times New Roman", Times, serif
}

#content .diagonal-box .textcol p {
    width: 320px
}

#content .diagonal-box .imagecol {
    position: absolute;
    right: 0;
    top: 0
}

#content .diagonal-box.zitat img {
    float: left;
    padding-top: 20px
}

#content .diagonal-box.zitat .content {
    float: left;
    width: 293px;
    margin-bottom: 3px
}

#content .diagonal-box.zitat .content p {
    font-size: 11px;
    line-height: 16px
}

#content .diagonal-box.zitat .content p strong {
    color: #8dc026;
    font-weight: 400
}

#content .diagonal-box form {
    margin: 0
}

#content .diagonal-box form table {
    margin: 0 8px
}

#content .diagonal-box form td {
    border-bottom: 1px dotted #ccc;
    color: #353535;
    padding: 4px 0
}

#content .diagonal-box form tr.submit td {
    border-bottom: none
}

#content .diagonal-box form td.question {
    width: 185px
}

#content .diagonal-box form td .text {
    width: 270px
}

#content .diagonal-box form td textarea {
    width: 270px;
    font-size: 12px
}

#content .diagonal-box form td select {
    width: 140px
}

#content .diagonal-box form td.required {
    color: #84BC11
}

#content .diagonal-box form #msg {
    background-color: #FFF;
    border: 1px solid #84BC11;
    color: #84BC11;
    padding: 5px
}

#content .diagonal-box form #msg .error {
    font-weight: 700;
    padding: 0
}

#content .diagonal-green-box {
    background: url(../_images/diagonal-green-box-back.gif) repeat;
    margin-bottom: 20px;
    padding: 6px
}

#content .diagonal-green-box.last {
    margin-bottom: 0
}

#content .diagonal-green-box .content {
    background-color: #FFF;
    color: #85bb0d;
    font-size: 12px;
    margin-bottom: 6px;
    padding: 6px
}

#content .diagonal-green-box .content:last-child {
    margin-bottom: 0
}

#content .diagonal-green-box h2 {
    color: #85bb0d;
    font-weight: 700;
    margin-top: 5px
}

#content .diagonal-green-box h5 {
    color: #85bb0d;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 14px;
    font-style: italic
}

#content .diagonal-green-box p {
    color: #85bb0d;
    font-family: Georgia, "Times New Roman", Times, serif
}

#content .zitat-box {
    background: url(../_images/diagonal-box-back.gif) repeat;
    margin: 20px 100px 5px 12px;
    padding: 6px
}

#content .zitat-box.last {
    margin-bottom: 0
}

#content .zitat-box .content {
    background-color: #FFF;
    font-size: 12px;
    margin-bottom: 6px;
    padding: 6px 6px 6px 0
}

#content .zitat-box .content:last-child {
    margin-bottom: 0
}

#content .zitat-box blockquote {
    float: left;
    margin: 0 11px 10px 0
}

#content .zitat-box h2 {
    background: 0 0;
    clear: none;
    border: none;
    margin: 16px 0 0;
    padding-bottom: 1px
}

#content .zitat-box h2 strong {
    background: #85bb0d;
    color: #FFF;
    font-weight: 700;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    padding: 0 4px
}

#content .zitat-box h3 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 1px;
    padding: 0
}

#content .zitat-box h3 em {
    background: #85bb0d;
    display: inline;
    color: #FFF;
    font-weight: 400;
    font-size: 11px;
    margin-top: 6px;
    padding: 0 4px
}

#content .zitat-box li, #content .zitat-box p {
    font-size: 11px;
    line-height: 15px;
    padding-right: 5px
}

#content .thumb-box img {
    float: left;
    margin: 0 11px 0 14px
}

#content .thumb-box .content {
    float: left;
    width: 400px
}

#section hr {
    border: none;
    background-color: #FFF;
    height: 1px;
    border-bottom: 1px dotted #a7a6a4;
    display: block;
    margin: 15px 95px 0 12px
}

#section .hr hr, #section .hr-bottom hr, #section .hr-top hr {
    display: none !important
}

#section h1, #section h2,
.htmlReplace h1, .htmlReplace h2 {
    font-family: 'PT Sans', sans-serif;
    color: #84BC11;
    text-transform: uppercase
}

#section h1, .htmlReplace h1 {
    font-size: 25px;
    line-height: 1.3em;
    margin: 4px 0 10px;
    padding: 0 12px
}

#section h1 em, .htmlReplace h1 em {
    color: #676767;
    font-weight: 400
}

#section h1 embed, .htmlReplace h1 embed {
    width: 100%
}

#section h2 {
    background: url(../_images/green-big-dot.gif) no-repeat 3px 7px;
    border-bottom: 1px dotted #a7a6a4;
    font-size: 16px;
    line-height: 18px;
    margin: 20px 90px 4px 12px;
    padding: 0 0 4px 12px;
    clear: both
}

#section .useCase h2 {
    border: none;
    padding: 10px 0 10px 50px
}

#section .useCase h2.rahmenbedinungen {
    background: url(../_images/use-cases_sprite.png) 0 0 no-repeat
}

#section .useCase h2.technisch {
    background: url(../_images/use-cases_sprite.png) 0 -48px no-repeat
}

#section .useCase h2.diagnostische {
    background: url(../_images/use-cases_sprite.png) 0 -93px no-repeat
}

#section .useCase p {
    padding-left: 62px !important;
    padding-right: 20px !important
}

#section .useCase h2.flashheadline {
    background: 0 0;
    padding-left: 0;
    font-family: Arial, Helvetica, sans-serif
}

#section h3 {
    color: #363636;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    margin: 20px 0 5px;
    padding: 0 90px 0 12px
}

#section .useCasesWrapper {
    width: 575px
}

#section .useCaseLayer {
    background: url(../_images/use-case_head.png) repeat-x;
    margin-bottom: 2px
}

#section .useCaseLayer h3 {
    border-top: 1px dotted #999;
    background: url(../_images/use-cases_sprite.png) no-repeat -6px -139px;
    cursor: pointer;
    margin: 0;
    padding: 10px 25px 5px
}

#section .useCaseLayer.active h3 {
    background: url(../_images/use-cases_sprite.png) no-repeat -6px -190px
}

#section h4 {
    font-size: 12px;
    margin: 15px 0 0 11px
}

#section .hr {
    background: url(../_images/hr-section.gif) no-repeat;
    height: 5px;
    margin: 10px 0 10px 14px
}

#section .hr-top {
    background: url(../_images/hr-section-top.jpg) no-repeat;
    height: 12px
}

#section .hr-bottom {
    background: url(../_images/hr-section-bottom.jpg) 0 30px no-repeat;
    height: 12px;
    padding-top: 30px
}

#section .image-block {
    margin: 10px 0 10px 12px
}

#section .small-image-block {
    margin: 0 0 0 12px
}

#section .legende-block-top {
    margin: 15px 0 0 12px
}

#section .legende-block-bottom {
    margin: 0 0 15px 12px
}

#section p {
    color: #363636;
    font-size: 12px;
    line-height: 17px;
    padding: 5px 120px 5px 12px
}

#section p.teaser {
    color: #595959;
    font-size: 15px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    line-height: 20px;
    padding: 5px 120px 5px 14px
}

#erecruiting #section p, .home #section p {
    padding: 5px 14px
}

#section p a {
    color: #85bb16;
    font-weight: 400;
    text-decoration: none
}

#section p a:hover {
    color: #595959
}

#section p a img {
    vertical-align: middle
}

#section p a.thickbox {
    float: left;
    margin: 0 15px 5px 0;
    padding-top: 3px
}

#section ol, #section ul {
    margin: 5px 120px 5px 12px
}

#section li {
    color: #363636;
    font-size: 12px;
    line-height: 18px;
    margin-left: 14px;
    text-indent: -14px
}

#section ul li {
    list-style: url(../_images/green-dot.gif) inside
}

#section ul ul {
    margin: 0
}

#section ul ul li {
    list-style: url(../_images/grey-arrow.gif) inside
}

#section ol li {
    list-style: decimal inside;
    margin-left: 21px;
    text-indent: -21px
}

#section ul.tabs-nav {
    margin:0 3px 20px;
    padding:0 0 1px 0;
    border-bottom: 1px solid #b4b4b4;
    float: left;
    width: 595px;
}

#section ul.tabs-nav li {
    list-style: none;
    border-right: 1px solid #b4b4b4;
    padding: 2px 11px;
    margin: 0;
    float: left;
    text-indent: 0;
}

#section ul.tabs-nav li a{
    color: #000;
    text-decoration: none;
}

#section ul.tabs-nav li.active {
    background: #84bc11;
    color: #fff;
}
#section ul.tabs-nav li.active a{
    color: #fff;
}



#section p a.startNavigator {
    background: url(../_images/buttons/navigator-starten-btn.jpg) no-repeat top left;
    margin: -15px 0 0 -3px;
    display: block;
    height: 145px;
    width: 414px
}

#section p a.startNavigator-en {
    background: url(../_images/buttons/navigator-starten-btn-en.jpg) no-repeat top left;
    margin: -15px 0 0 -3px;
    display: block;
    height: 145px;
    width: 414px
}

#section p a.startNavigator-en:hover, #section p a.startNavigator:hover {
    background-position: bottom left
}

#section .threecol {
    padding: 10px 15px 0 14px
}

#section .threecol .leftcol {
    float: left;
    width: 183px
}

#section .threecol .centercol {
    float: left;
    margin-left: 11px;
    width: 183px
}

#section .threecol .rightcol {
    float: right;
    width: 183px
}

#section .threecol h2 {
    background: 0 0;
    margin: 0;
    padding: 0
}

#section .threecol p {
    font-size: 11px;
    line-height: 16px;
    padding: 2px 5px 6px
}

#section .threecol p.teaser {
    color: #000;
    font-size: 14px;
    font-style: italic;
    line-height: 18px;
    padding: 5px
}

#section .threecol p a {
    color: #85bb16;
    font-size: 12px;
    text-decoration: none
}

#section .threecol p a:hover {
    color: #595959
}

#erecruiting #section .threecol {
    margin-top: 20px
}

#erecruiting #section .threecol .centercol, #erecruiting #section .threecol .leftcol, #erecruiting #section .threecol .rightcol {
    background: url(../_images/diagonal-box-back.gif);
    padding: 6px;
    width: 168px
}

#erecruiting #section .threecol .centercol {
    margin-left: 16px
}

#erecruiting #section .threecol .content {
    background: #FFF;
    height: 168px;
    margin: 6px 0 0;
    padding: 10px
}

#erecruiting #section .threecol h2 {
    margin: 0 0 6px;
    padding: 2px 3px
}

#erecruiting #section .threecol p {
    padding: 5px 0
}

#section .twocol {
    padding: 10px 90px 0 14px
}

#section .twocol .leftcol {
    float: left;
    width: 242px
}

#section .twocol .rightcol {
    float: right;
    width: 242px
}

#section .twocol p {
    font-size: 11px;
    line-height: 16px;
    padding: 2px 5px 6px
}

#section .twocol p.teaser {
    color: #000;
    font-size: 14px;
    font-style: italic;
    line-height: 18px;
    padding: 5px
}

#section .twocol p a {
    font-size: 12px
}

#section .diagonal-box {
    margin: 20px 90px 10px 12px
}

#section .diagonal-box h2 {
    background: 0 0;
    font-size: 12px;
    font-weight: 700;
    font-style: italic;
    margin-right: 12px;
    padding: 0 0 2px
}

#section .diagonal-box p {
    padding-right: 12px
}

#section .diagonal-green-box {
    margin: 20px 90px 10px 12px
}

#section .diagonal-green-box h2 {
    background: 0 0;
    font-size: 12px;
    font-weight: 700;
    font-style: italic;
    margin-right: 12px;
    padding: 0 0 2px
}

#section .diagonal-green-box p {
    padding-right: 12px;
    line-height: 18px
}

#section .diagonal-green-box p a {
    color: #4A7200
}

#section .diagonal-green-box p a:hover {
    color: #2A3F00
}

#section .formBlockSurveyTable {
    margin: 15px 0 10px 14px
}

#section .formBlockSurveyTable td {
    font-size: 12px
}

#section #standardPage {
    font-size: 12px;
    padding-left: 12px
}

#section #standardPage h1 {
    padding-left: 0
}

#section #standardPage h2 {
    background: #FFF none;
    border: none;
    margin: 0 !important;
    padding: 10px 14px 5px
}

#section #standardPage p {
    background-color: #FFF;
    padding-bottom: 10px
}

#section #standardPage form br {
    display: none
}

#section #standardPage a {
    color: #85bb16;
    font-weight: 400;
    text-decoration: none
}

#section #standardPage a:hover {
    color: #595959
}

#section #standardPage hr {
    clear: both;
    padding: 10px 0 0;
    margin: 10px 3px 10px 0
}

#section #standardPage .ccm-form {
    background: url(../_images/diagonal-box-back.gif) repeat;
    margin: 0 90px 20px 0;
    padding: 6px 6px 25px
}

#section #standardPage form {
    background-color: #FFF;
    font-size: 12px;
    margin-bottom: 6px;
    padding: 6px 6px 6px 11px
}

#section #standardPage div {
    clear: both;
    padding: 4px 0
}

#section #standardPage label {
    float: left;
    width: 150px;
    line-height: 22px
}

#section #standardPage .ccm-input-text {
    float: left;
    width: 305px
}

#section #standardPage .ccm-button {
    background: 0 0;
    text-align: right;
    padding-right: 4px
}

#section .slider {
    border-bottom: 1px solid #e4e4e4;
    margin: 0 90px 0 12px
}

#section .slider h4 {
    background: url(../_images/accordion/accordion-headline-arrow.gif) 10px 7px no-repeat;
    cursor: pointer;
    font-weight: 400;
    font-size: 12px;
    margin: 0;
    padding: 4px 0 4px 25px
}

#section .slider .open h4 {
    background: url(../_images/accordion/accordion-headline-arrow2.gif) 10px 7px no-repeat
}

#section .slider .content {
    background: url(../_images/diagonal-grey-box-back.gif) repeat;
    margin-bottom: 6px
}

#section .slider .content p {
    color: #575757;
    margin: 0;
    padding: 13px 40px 13px 25px
}

#section .subitem {
    margin: 20px 0 10px;
    width: 497px
}

#section .subitem .top {
    background: url(../_images/diagonal-box-back.gif) repeat;
    border: 1px solid #e8eceb;
    padding: 6px
}

#content .subitem .top h2 {
    background-color: #FFF;
    border: 0;
    margin: 0;
    padding: 0 0 0 11px
}

#content .subitem .top h2 a {
    color: #84BC11;
    text-decoration: none
}

#section .subitem .content {
    background: url(../_images/subitem/subitem-back.jpg) no-repeat bottom left;
    position: relative;
    padding: 15px 0 0
}

#section .subitem .leftcol {
    padding-bottom: 30px;
    width: 430px
}

#section .subitem .rightcol {
    position: absolute;
    right: 0;
    bottom: 0
}

#tests #section .subitem {
    margin: 20px 0 10px 15px
}

#section .accordion {
    margin: 0 19px 4px 15px
}

#section .accordion .top {
    background: url(../_images/accordion/accordion-headline-back.gif) repeat-x;
    cursor: pointer;
    height: 21px
}

#section .accordion .top h4 {
    background: url(../_images/accordion/accordion-headline-arrow.gif) 10px 7px no-repeat;
    color: #000;
    display: inline;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 400;
    font-size: 12px;
    float: left;
    line-height: 21px;
    margin: 0;
    overflow: hidden;
    padding: 0 0 0 25px;
    text-transform: none
}

#section .accordion .open h4 {
    background: url(../_images/accordion/accordion-headline-arrow2.gif) 10px 7px no-repeat
}

#section .accordion .top .choise {
    float: right;
    padding-right: 3px
}

#section .accordion .top .choise div {
    float: left;
    font-size: 10px;
    height: 19px;
    margin: 1px 1px 0 0;
    text-align: center;
    width: 19px
}

#section .accordion .top .choise .Sverfuegbar {
    background: url(../_images/accordion/choise.jpg) no-repeat 0 -38px
}

#section .accordion .top .choise .Soptional {
    background: url(../_images/accordion/choise.jpg) no-repeat 0 -19px
}

#section .accordion .top .choise .Snicht-verfuegbar {
    background: url(../_images/accordion/choise.jpg) no-repeat 0 0
}

#section .accordion .top .choise .Mverfuegbar {
    background: url(../_images/accordion/choise.jpg) no-repeat -18px -38px
}

#section .accordion .top .choise .Moptional {
    background: url(../_images/accordion/choise.jpg) no-repeat -18px -19px
}

#section .accordion .top .choise .Mnicht-verfuegbar {
    background: url(../_images/accordion/choise.jpg) no-repeat -18px 0
}

#section .accordion .top .choise .XLverfuegbar {
    background: url(../_images/accordion/choise.jpg) no-repeat -36px -38px
}

#section .accordion .top .choise .XLoptional {
    background: url(../_images/accordion/choise.jpg) no-repeat -36px -19px
}

#section .accordion .top .choise .XLnicht-verfuegbar {
    background: url(../_images/accordion/choise.jpg) no-repeat -36px 0
}

#section .accordion .top .choise .SSPverfuegbar {
    background: url(../_images/accordion/choise.jpg) no-repeat -54px -38px;
    width: 21px
}

#section .accordion .top .choise .SSPoptional {
    background: url(../_images/accordion/choise.jpg) no-repeat -54px -19px;
    width: 21px
}

#section .accordion .top .choise .SSPnicht-verfuegbar {
    background: url(../_images/accordion/choise.jpg) no-repeat -54px 0;
    width: 21px
}

#section .accordion .content {
    background: url(../_images/accordion/accordion-content-back.gif) repeat;
    clear: both;
    padding: 10px 4px 15px;
    position: relative
}

#section .accordion .content p {
    padding: 5px 20px 5px 23px
}

#section #referenzenliste {
    width: 600px;
    padding-left: 13px
}

#section #referenzenliste img {
    float: left;
    padding: 0 10px 10px 0
}

#section .news, #section .presse {
    padding: 13px 0
}

#section .news .top h4, #section .presse .top h4 {
    color: #85BB16;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 13px;
    font-weight: 400;
    margin: 5px 0 5px 12px
}

#section .news .top h5, #section .presse .top h5 {
    font-size: 10px;
    margin: 0 0 0 12px;
    font-weight: 700
}

#section .news .bottom, #section .presse .bottom {
    border-top: 1px dotted #CCC;
    margin: 10px 98px 0 12px
}

#section .news .bottom p, #section .presse .bottom p {
    font-size: 10px;
    font-weight: 700;
    padding: 0
}

#section .news .bottom a, #section .presse .bottom a {
    background: url(../_images/green-arrow.gif) no-repeat 0 4px;
    color: #85BB16;
    padding-left: 8px;
    font-weight: 700;
    text-decoration: none
}

#section .news .bottom a:hover #section .presse .bottom a:hover {
    color: #2A3F00
}

#aside .hr-top {
    background: url(../_images/hr-aside-top.jpg);
    clear: both;
    height: 12px
}

#aside .hr-bottom {
    background: url(../_images/hr-aside-bottom.jpg);
    clear: both;
    height: 12px
}

#aside a.btn img {
    padding: 5px 0 0 12px
}

#aside .diagonal-box {
    margin: 0 12px 12px
}

#aside .diagonal-box .content p {
    font-size: 11px;
    line-height: 16px
}

#referenzen .middle h1 {
    margin-bottom: 5px;
    padding-right: 15px;
    text-align: center
}

#referenzen .refPreview {
    padding-bottom: 5px
}

#referenzen .refPreview div {
    position: relative;
    height: 66px
}

#referenzen .refPreview img {
    position: absolute;
    top: 0;
    left: 15px
}

#referenzen .refPreview a {
    background: none !important
}

#aside #referenzen a {
    color: #85bb16;
    text-decoration: none
}

#aside #referenzen a:hover {
    color: #595959;
    text-decoration: none
}

#aside #referenzen h3 {
    display: inline;
    background: none repeat scroll 0 0 #85BB0D;
    color: #FFF;
    font-size: 12px;
    font-weight: 700;
    margin-top: 5px;
    padding: 0 4px
}

#aside #referenzen hr {
    border: none;
    background-color: #FFF;
    height: 1px;
    border-bottom: 1px dotted #a7a6a4;
    display: block;
    margin: 15px 0 15px 5px
}

.letterHead {
    background: none repeat scroll 0 0 #F2F2F2;
    height: 45px;
    margin-bottom: 16px;
    margin-left: -6px;
    margin-top: -6px;
    padding: 5px;
    width: 166px
}

.letterHead .hrLetter {
    margin-top: 5px
}

.letterHead h4 {
    background: none repeat scroll 0 0 #85BB16;
    clear: both;
    color: #FFF;
    float: right;
    font-size: 14px;
    font-weight: 700;
    padding: 3px 8px;
    text-transform: uppercase
}

#letterNav a {
    color: #85BB16;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    text-decoration: none;
    text-indent: -10px
}

#letterNav.diagonal-box ul {
    padding: 5px 0 10px !important
}

#letterNav li.active, #letterNav li.active a {
    color: #000
}

#letterNav hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFF;
    border-color: -moz-use-text-color -moz-use-text-color #A7A6A4;
    border-image: none;
    border-style: none none dotted;
    border-width: medium medium 1px;
    display: block;
    height: 1px;
    margin: 5px 0
}

#footernavi {
    float: right;
    margin: 10px 18px 5px 0
}

#footernavi li {
    float: left
}

#footernavi li a {
    border-left: 1px solid #999;
    color: #999;
    height: 10px;
    float: left;
    line-height: 8px;
    font-size: 11px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    padding: 0 4px;
    text-decoration: none
}

#footernavi li a:hover {
    color: #000
}

#footernavi li.first a {
    border: none
}

#footerbar {
    clear: both;
    color: #FFF;
    font-size: 11px;
    padding-left: 20px
}

#footerbar a {
    color: #FFF;
    font-size: 9px;
    line-height: 17px;
    text-decoration: none;
    padding-top: 4px
}


/* MENU CSS + ANIMATIONS START */

.nav-over li a.menuHover {
    color: white;
    -webkit-transition-delay: 50ms;
    -moz-transition-delay: 50ms;
    -ms-transition-delay: 50ms;
    -o-transition-delay: 50ms;
    transition-delay: 50ms;
}

header.nav-container {
    background: url("/themes/hr-d/_images/navigation/html-header-plain-line.png") no-repeat 0 0;
    width: 842px;
    height: 217px;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    padding: 38px 14px 0;
    margin-left: 50px;
}
/* INITIAL PLACEMENT */
.nav-over.knowhow .nav-hover,
.nav-over.expertise .nav-hover {
    width: 137px;
    left: 26px;
}
.nav-over.knowhow + .nav-detail .nav-detail-slider {
    left: 0;
}
.nav-over.tests .nav-hover {
    width: 101px;
    left: 183px;
}
.nav-over.tests + .nav-detail .nav-detail-slider {
    left: -842px;
}

.nav-over.software .nav-hover {
    width: 131px;
    left: 304px;
}
.nav-over.software + .nav-detail .nav-detail-slider {
    left: -1684px;
}

.nav-over.general + .nav-detail .nav-detail-slider {
    left: -2526px;
}
header.en .nav-over.knowhow .nav-hover,
.nav-over.expertise .nav-hover {
    width: 130px;
    left: 26px;
}
header.en .nav-over.tests .nav-hover {
    width: 101px;
    left: 176px;
}
header.en .nav-over.software .nav-hover {
    width: 131px;
    left: 297px;
}
/* END INITIALS PLACEMENT */
.nav-over {
    position: relative;
    padding-left: 26px;
}
.nav-over div.nav-hover {
    height: 20px;
    background: #84BC11;
    position: absolute;
    top: 0;
    left: 0;
}
.nav-over ul {
    height: 23px;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    z-index: 2;
    clear: left;

    -webkit-font-smoothing: antialiased;
}
.nav-over li {
    margin:  0 20px 0 0;
    float: left;
    cursor: pointer;
}
.nav-over li a {
    color: inherit;
    padding: 2px 20px;
    text-decoration: none;
    text-transform: uppercase;
}
.nav-detail {
    width: 842px;
    height: 200px;
    position: relative;
    top: -8px;
    overflow: hidden;
}
.nav-detail-slider {
    width: 3368px;
    height: 200px;
    position: absolute;
    top: 0;
    clear: left;
}
[class*="bg-ani-"] {
    background-repeat: no-repeat;
    position: absolute;
    content: '';
    opacity: 0;
}
.nav-detail-animation {
    width: 842px;
    height: 246px;
    border-bottom: 4px solid #84BC11;
    margin-top: 4px;
    position: relative;
    overflow: hidden;
}
.nav-detail-animation .bg-animation {
    background: url("/themes/hr-d/_images/navigation/home-animation/bg-lines.png");
    opacity: 0;
}
.nav-detail-animation .bg-animation .bg-ani-overlay { /* overlay */
    background: url("/themes/hr-d/_images/navigation/home-animation/bg-overlay-gradient.png");
    top: 0;
    left: 0;
    width: 842px;
    height: 246px;
}
.nav-detail-animation .bg-animation .bg-ani-0 { /* lines */
    background: url("/themes/hr-d/_images/navigation/home-animation/lines.png");
    top: 0;
    left: 398px;
    width: 329px;
    height: 246px;
}
.nav-detail-animation .bg-animation .bg-ani-1 { /* shape 1 */
    background: url("/themes/hr-d/_images/navigation/home-animation/shape-1.png");
    bottom: 0;
    width: 258px;
    height: 226px;
}
.nav-detail-animation .bg-animation .bg-ani-2 { /* shape 2 */
    background: url("/themes/hr-d/_images/navigation/home-animation/shape-2.png");
    left: 342px;
    bottom: 30px;
    width: 109px;
    height: 152px;
}
.nav-detail-animation .bg-animation .bg-ani-3 { /* shape 3 */
    background: url("/themes/hr-d/_images/navigation/home-animation/shape-3.png");
    bottom: 0;
    right: 40px;
    width: 142px;
    height: 231px;
}

.nav-detail-animation .bg-animation .bg-ani-4 {
    background: url("/themes/hr-d/_images/navigation/home-animation/pers-6.png");
    bottom: -231px;
    right: 20px;
    width: 83px;
    height: 221px;
    opacity: 1;
}
.nav-detail-animation .bg-animation .bg-ani-5 {
    background: url("/themes/hr-d/_images/navigation/home-animation/pers-5.png");
    bottom: -209px;
    left: 294px;
    width: 106px;
    height: 221px;
    opacity: 1;
}
.nav-detail-animation .bg-animation .bg-ani-6 {
    background: url("/themes/hr-d/_images/navigation/home-animation/pers-3.png");
    bottom: -203px;
    left: 16px;
    width: 170px;
    height: 193px;
    opacity: 1;
}
.nav-detail-animation .bg-animation .bg-ani-7 {
    background: url("/themes/hr-d/_images/navigation/home-animation/pers-4.png");
    bottom: -256px;
    left: 156px;
    width: 172px;
    height: 246px;
    opacity: 1;
}
.nav-detail-animation .bg-animation .bg-ani-8 {
    background: url("/themes/hr-d/_images/navigation/home-animation/pers-2.png");
    bottom: -228px;
    right: 205px;
    width: 161px;
    height: 218px;
    opacity: 1;
}
.nav-detail-animation .bg-animation .bg-ani-9 {
    background: url("/themes/hr-d/_images/navigation/home-animation/pers-1.png");
    bottom: -256px;
    right: 90px;
    width: 196px;
    height: 246px;
    opacity: 1;
}

.nav-detail-animation .logo-animation {
    background: url("/themes/hr-d/_images/hr-diagnostics-logo.png");
    width: 247px;
    height: 82px;
    position: absolute;
    top: 75px;
    left: 295px;
}


/* NAV SLIDER CONTENT */
.nav-detail .know-how-slide,
.nav-detail .tests-slide,
.nav-detail .software-slide,
.nav-detail .general-slide {
    width: 816px;
    height: 200px;
    padding: 0 0 0 26px;
    margin: 0;
    float: left;
}

.slide-inner {
    height: 162px;
    padding-top: 12px;
    padding-bottom: 26px;
    clear: left;
    position: relative;
    overflow-y: hidden;
}

.nav-block-one, .nav-block-two, .nav-block-three {
    width: 160px;
    float: left;
}

.nav-block-one,
.nav-block-two {
    padding-right: 8px;
    border-right: 1px solid #ffffff;
    margin-right: 8px;
    margin-top: 38px;
}
.nav-block-three {
    margin-top: 114px;
}
.nav-block-three.eng {
    margin-top: 76px;
}

.slide-inner a {
    width: 100%;
    height: 24px;
    background: url("/themes/hr-d/_images/navigation/btn-l.png") no-repeat 0 -1px;
    /*background: #f3f3f3;*/
    text-decoration: none;
    color: #000000;
    padding-top: 6px;
    margin-bottom: 8px;
    display: block;

    -webkit-transition-duration: 200ms;
    -moz-transition-duration: 200ms;
    -ms-transition-duration: 200ms;
    -o-transition-duration: 200ms;
    transition-duration: 200ms;
}
.text-center a {
    text-align: center;
}
.no-margin {
    margin: 0 !important;
}
.slide-inner a.active,
.slide-inner a:hover {
    background: url("/themes/hr-d/_images/navigation/btn-l-h.png") no-repeat 0 -1px;
    /*background: #84BC11;*/
    color: #ffffff;
}

/* HOME ANIMATION */
.nav-detail-animation {
    background: url("/themes/hr-d/_images/navigation/home-animation/bg-light.png");
    opacity: 0;
}
.nav-detail-animation .bg-animation {
    width: 842px;
    height: 246px;
}


/* KNOW HOW SLIDE */
.know-how-slide .bg-animation {
    width: 272px;
    height: 162px;
    background: url("/themes/hr-d/_images/navigation/knowhow/bg-know-how.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0;
    content: '';
    position: absolute;
    top: 12px;
    left: 530px;
}

.know-how-slide .slide-inner {
    width: 816px;
    padding-bottom: 0;
    position: absolute;
    top: 0;
    overflow: hidden;
}
.know-how-slide.sub-page.one .bg-animation {
    top: -20px;
    left: 510px;
    width: 300px;
    height: 192px;
    background: url("/themes/hr-d/_images/navigation/knowhow/erecruting/erecruiting.png");
}
.know-how-slide.sub-page.two .bg-ani-1 {
    background: url("/themes/hr-d/_images/navigation/knowhow/personen/personalwahl-1.png");
    width: 77px;
    height: 138px;
    top: 20px;
    right: 170px;
}
.know-how-slide.sub-page.two .bg-ani-2 {
    background: url("/themes/hr-d/_images/navigation/knowhow/personen/personalwahl-2.png");
    width: 113px;
    height: 138px;
    top: 20px;
    right: 0;
}
.know-how-slide.sub-page.three .bg-animation {
    top: 24px;
    left: 660px;
    width: 58px;
    height: 111px;
    background: url("/themes/hr-d/_images/navigation/knowhow/potenzialanalyse.png") no-repeat;
}
.know-how-slide.sub-page.three .animation {
    background: url("/themes/hr-d/_images/navigation/knowhow/personen/23.png") no-repeat -30px 0;
    width: 110px;
}

.know-how-slide.sub-page.four .animation {
    background: url("/themes/hr-d/_images/navigation/knowhow/personen/5.png") no-repeat 20px 0;
}
.know-how-slide.sub-page.four .bg-animation {
    opacity: 1;
    top: 12px;
    left: 556px;
    width: 268px;
    height: 162px;
    background: none;
    overflow: hidden;
}
.know-how-slide.sub-page.four .bg-ani-1 {
    top: 50px;
    left: 15px;
    width: 128px;
    height: 126px;
    background: url("/themes/hr-d/_images/navigation/leistungsbeurteilung/pfeil-1.png") no-repeat;
}
.know-how-slide.sub-page.four .bg-ani-2 {
    top: -30px;
    left: 160px;
    width: 64px;
    height: 66px;
    background: url("/themes/hr-d/_images/navigation/leistungsbeurteilung/pfeil-2.png") no-repeat;
}
.know-how-slide.sub-page.four .bg-ani-3 {
    top: 45px;
    left: 180px;
    width: 80px;
    height: 100px;
    background: url("/themes/hr-d/_images/navigation/leistungsbeurteilung/pfeil-3.png") no-repeat;
}

.know-how-slide.sub-page.five .bg-animation {
    opacity: 1;
    top: 12px;
    left: 530px;
    width: 268px;
    height: 162px;
    background: none;
    overflow: hidden;
}
.know-how-slide.sub-page.five .bg-ani-1 {
    top: 10px;
    left: 33px;
    width: 128px;
    height: 126px;
    background: url("/themes/hr-d/_images/navigation/personalentwicklung/1.png") no-repeat;
}
.know-how-slide.sub-page.five .bg-ani-2 {
    top: 30px;
    left: 188px;
    width: 64px;
    height: 66px;
    background: url("/themes/hr-d/_images/navigation/personalentwicklung/2.png") no-repeat;
}
.know-how-slide.sub-page.five .bg-ani-3 {
    top: 45px;
    left: 190px;
    width: 80px;
    height: 100px;
    background: url("/themes/hr-d/_images/navigation/personalentwicklung/3.png") no-repeat;
}
.know-how-slide.sub-page.five .animation {
    top: 162px;
    left: 570px;
    width: 186px;
    height: 178px;
    background: url("/themes/hr-d/_images/navigation/knowhow/personen/20.png") no-repeat;
}
.know-how-slide.sub-page.six .bg-animation {
    opacity: 1;
    top: 12px;
    left: 556px;
    width: 268px;
    height: 162px;
    background: none;
    overflow: hidden;
}
.know-how-slide.sub-page.six .bg-ani-1 {
    top: 10px;
    left: 0;
    width: 45px;
    height: 140px;
    background: url("/themes/hr-d/_images/navigation/jobmatching/1.png") no-repeat;
}
.know-how-slide.sub-page.six .bg-ani-2 {
    top: 10px;
    left: 63px;
    width: 45px;
    height: 140px;
    background: url("/themes/hr-d/_images/navigation/jobmatching/2.png") no-repeat;
}
.know-how-slide.sub-page.six .bg-ani-3 {
    top: 10px;
    left: 128px;
    width: 45px;
    height: 140px;
    background: url("/themes/hr-d/_images/navigation/jobmatching/3.png") no-repeat;
}
.know-how-slide.sub-page.six .bg-ani-4 {
    top: 10px;
    left: 158px;
    width: 45px;
    height: 140px;
    background: url("/themes/hr-d/_images/navigation/jobmatching/4.png") no-repeat;
}
.know-how-slide.sub-page.six .bg-ani-5 {
    top: 10px;
    left: 188px;
    width: 45px;
    height: 140px;
    background: url("/themes/hr-d/_images/navigation/jobmatching/5.png") no-repeat;
}
.know-how-slide.sub-page.six .bg-ani-6 {
    top: 10px;
    left: 28px;
    width: 140px;
    height: 140px;
    background: url("/themes/hr-d/_images/navigation/jobmatching/6.png") no-repeat;
}
.know-how-slide.sub-page.six .bg-ani-7 {
    top: 136px;
    left: 174px;
    width: 99px;
    height: 113px;
    background: url("/themes/hr-d/_images/navigation/jobmatching/rechteck.png") no-repeat;
}
.know-how-slide.sub-page.six .bg-ani-8 {
    top: 92px;
    left: 119px;
    width: 3px;
    height: 3px;
    background: url("/themes/hr-d/_images/navigation/jobmatching/line-short.png") no-repeat;
}
.know-how-slide.sub-page.six .animation {
    top: 104px;
    left: 581px;
    width: 3px;
    height: 3px;
    background: url("/themes/hr-d/_images/navigation/jobmatching/line-long.png") no-repeat;
}
.know-how-slide.sub-page.seven .bg-animation {
    top: 60px;
    left: 500px;
    width: 280px;
    height: 100px;
    background: url("/themes/hr-d/_images/navigation/berufsprofiling/berufsprofiling.png") no-repeat;
    overflow: hidden;
}
.know-how-slide.sub-page.seven .bg-ani-1 {
    top: 20px;
    left: 37px;
    width: 1px;
    height: 0;
    background: url("/themes/hr-d/_images/navigation/berufsprofiling/line-long.png") no-repeat;
}
.know-how-slide.sub-page.seven .bg-ani-2 {
    top: 20px;
    left: 137px;
    width: 1px;
    height: 0;
    background: url("/themes/hr-d/_images/navigation/berufsprofiling/line-short.png") no-repeat;
}
.know-how-slide.sub-page.seven .animation {
    top: 162px;
    left: 610px;
    width: 186px;
    height: 178px;
}


.know-how-slide.sub-page.eight .bg-animation {
    opacity: 1;
    top: 12px;
    left: 594px;
    width: 248px;
    height: 162px;
    background: none;
    overflow: hidden;
}
.know-how-slide.sub-page.eight .bg-ani-1 {
    top: 162px;
    left: 40px;
    width: 108px;
    height: 160px;
    background: url("/themes/hr-d/_images/navigation/backgroundscreening/1.png") no-repeat;
}
.know-how-slide.sub-page.eight .bg-ani-2 {
    top: 18px;
    left: 40px;
    width: 108px;
    height: 160px;
    background: url("/themes/hr-d/_images/navigation/backgroundscreening/1-2.png") no-repeat;
}
.know-how-slide.sub-page.eight .bg-ani-3 {
    top: -40px;
    left: 248px;
    width: 172px;
    height: 113px;
    background: url("/themes/hr-d/_images/navigation/backgroundscreening/2.png") no-repeat;
}
.know-how-slide.sub-page.eight .bg-ani-4 {
    top: 64px;
    left: 77px;
    width: 70px;
    height: 86px;
    background: url("/themes/hr-d/_images/navigation/backgroundscreening/3.png") no-repeat;
}

.know-how-slide .animation {
    width: 186px;
    height: 178px;
    background-position: 0 0;
    background-repeat: no-repeat;
    content: '';
    opacity: 0;
    position: absolute;
    top: 177px;
    left: 540px;
}

.know-how-slide.two .animation {
    left: 570px;
}

/* KNOW-HOW RND IMGS */
.know-how-slide .animation.one          {background: url("/themes/hr-d/_images/navigation/knowhow/personen/1.png")}
.know-how-slide .animation.two          {background: url("/themes/hr-d/_images/navigation/knowhow/personen/2.png")}
.know-how-slide .animation.three        {background: url("/themes/hr-d/_images/navigation/knowhow/personen/3.png")}
.know-how-slide .animation.four         {background: url("/themes/hr-d/_images/navigation/knowhow/personen/4.png")}
.know-how-slide .animation.five         {background: url("/themes/hr-d/_images/navigation/knowhow/personen/5.png")}
.know-how-slide .animation.six          {background: url("/themes/hr-d/_images/navigation/knowhow/personen/6.png")}
.know-how-slide .animation.seven        {background: url("/themes/hr-d/_images/navigation/knowhow/personen/7.png")}
.know-how-slide .animation.eight        {background: url("/themes/hr-d/_images/navigation/knowhow/personen/8.png")}
.know-how-slide .animation.nine         {background: url("/themes/hr-d/_images/navigation/knowhow/personen/9.png")}
.know-how-slide .animation.ten          {background: url("/themes/hr-d/_images/navigation/knowhow/personen/10.png")}
.know-how-slide .animation.eleven       {background: url("/themes/hr-d/_images/navigation/knowhow/personen/11.png")}
.know-how-slide .animation.twelve       {background: url("/themes/hr-d/_images/navigation/knowhow/personen/12.png")}
.know-how-slide .animation.thirteen     {background: url("/themes/hr-d/_images/navigation/knowhow/personen/13.png")}
.know-how-slide .animation.fourteen     {background: url("/themes/hr-d/_images/navigation/knowhow/personen/14.png")}
.know-how-slide .animation.fifteen      {background: url("/themes/hr-d/_images/navigation/knowhow/personen/15.png")}
.know-how-slide .animation.sixteen      {background: url("/themes/hr-d/_images/navigation/knowhow/personen/16.png")}
.know-how-slide .animation.seventeen    {background: url("/themes/hr-d/_images/navigation/knowhow/personen/17.png")}
.know-how-slide .animation.eighteen     {background: url("/themes/hr-d/_images/navigation/knowhow/personen/18.png")}
.know-how-slide .animation.nineteen     {background: url("/themes/hr-d/_images/navigation/knowhow/personen/19.png")}
.know-how-slide .animation.twenty       {background: url("/themes/hr-d/_images/navigation/knowhow/personen/20.png")}
.know-how-slide .animation.twenty-one   {background: url("/themes/hr-d/_images/navigation/knowhow/personen/21.png")}
.know-how-slide .animation.twenty-two   {background: url("/themes/hr-d/_images/navigation/knowhow/personen/22.png")}
.know-how-slide .animation.twenty-three {background: url("/themes/hr-d/_images/navigation/knowhow/personen/23.png")}
.know-how-slide .animation.twenty-four  {background: url("/themes/hr-d/_images/navigation/knowhow/personen/24.png")}
.know-how-slide .animation.twenty-five  {background: url("/themes/hr-d/_images/navigation/knowhow/personen/25.png")}
.know-how-slide .animation.twenty-six   {background: url("/themes/hr-d/_images/navigation/knowhow/personen/26.png")}


/* SOFTWARE SLIDE */
.software-slide                 {background: url("/themes/hr-d/_images/navigation/software/bg-software.png") no-repeat 570px 0;}
.software-slide.sub-page.one    {background: url("/themes/hr-d/_images/navigation/software/ssp.png") no-repeat 560px 30px;}
.software-slide.sub-page.two    {background: url("/themes/hr-d/_images/navigation/software/s-m-xl.png") no-repeat 440px 0;}
.software-slide.sub-page.three  {background: url("/themes/hr-d/_images/navigation/software/produktivitaetswerkzeuge.png") no-repeat 510px 13px;}
.software-slide.sub-page.four   {background: url("/themes/hr-d/_images/navigation/software/integration.png") no-repeat 315px -24px;}
.software-slide.sub-page.five   {background: url("/themes/hr-d/_images/navigation/software/sicherheit.png") no-repeat 620px 36px;}
.software-slide.sub-page.six    {background: url("/themes/hr-d/_images/navigation/software/service.png") no-repeat 522px 2px;}

.software-slide .nav-block-one {
    width: auto;
}
.software-slide .nav-block-two {
    border: none;
}

.software-slide .job-matcher {
    background: url("/themes/hr-d/_images/navigation/software/jobmatcher.png") no-repeat;
    width: 236px;
    height: 20px;
    margin-bottom: 10px;
}
.software-slide .nav-block-one .wrap {
    clear: left;
}
.software-slide .green,
.software-slide .white {
    text-align: center;
    width: 114px;
    height: 78px;
    margin-right: 14px;
    float: left;
}
.software-slide .green {
    font-size: 14px;
}
.software-slide .green a {
    background: url("/themes/hr-d/_images/navigation/btn-lg.png") no-repeat;
    height: 78px;
    padding: 0;
    color: #FFFFFF;
    -webkit-transition-duration: 200ms;
    -moz-transition-duration: 200ms;
    -ms-transition-duration: 200ms;
    -o-transition-duration: 200ms;
    transition-duration: 200ms;
}
.software-slide .green a.active,
.software-slide .green a:hover {
    background: url("/themes/hr-d/_images/navigation/btn-lg-h.png") no-repeat;
}
.software-slide .green span {
    font-size: 20px;
    padding-top: 6px;
    display: block;
}
.software-slide .white {
    background: #f3f3f3;
}
.software-slide .white a {
    height: 78px;
    padding-top: 0;
}
.software-slide .white a em {
    padding-top: 4px;
    font-weight: 400;
    display: block;
}
.software-slide .white a em.fix {
    padding-top: 0;
    margin-top: -4px;
    margin-bottom: 4px;
}
.software-slide .white small {
    display: block;
    line-height: 1;
    font-size: 10px;
    text-transform: uppercase;
}
.software-slide .nav-block-two {
    width: 250px;
    padding: 0;
    margin: 68px 0 0;
}
.software-slide .nav-block-two .wrap {
    width: 110px;
    text-align: center;
    float: left;
}
.software-slide .nav-block-two .wrap a {
    height: 20px;
    margin-bottom: 6px;
    padding-top: 2px;
    background: #f3f3f3;
}
.software-slide .nav-block-two .wrap a.active,
.software-slide .nav-block-two .wrap a:hover {
    background: url("/themes/hr-d/_images/navigation/software/btn-sm-h.png") no-repeat;
}
.software-slide .white a {
    background: #f3f3f3;
}
.software-slide .white a.active,
.software-slide .white a:hover {
    background: url("/themes/hr-d/_images/navigation/software/btn-lg-h.png") no-repeat;
}

/* TESTS SLIDE */
.nav-detail .tests-slide {
    background: url("/themes/hr-d/_images/navigation/tests/bg-tests.png") no-repeat right top;
}
.tests-slide.sub-page.one {
    background: url("/themes/hr-d/_images/navigation/tests/navigator.png") no-repeat 522px 6px;
}
.tests-slide.sub-page.two {
    background: url("/themes/hr-d/_images/navigation/tests/manufaktur.png") no-repeat 428px -4px;
}
.tests-slide .nav-block-one {
    margin-top: 24px;
}
.tests-slide .nav-block-two {
    margin-top: 62px;
}
.tests-slide .nav-block-one,
.tests-slide .nav-block-two {
    border: none;
    width: 210px;
}

.tests-slide .btn-lg,
.tests-slide .btn-nav {
    width: 190px;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}
.tests-slide .btn-lg span,
.tests-slide .btn-nav span {
    display: block;
    text-transform: uppercase;
    font-size: 17px;
}
.tests-slide .second {
    margin-top: -4px;
}
.tests-slide .btn-lg {
    height: 82px;
    background: url("/themes/hr-d/_images/navigation/tests/btn-lg.png") no-repeat;
}
.tests-slide .btn-lg.active,
.tests-slide .btn-lg:hover {
    background: url("/themes/hr-d/_images/navigation/tests/btn-lg-h.png") no-repeat;
}
.tests-slide .btn-nav {
    padding-top: 44px;
    height: 82px;
    background: url("/themes/hr-d/_images/navigation/tests/btn-nav.png") no-repeat;
}
.tests-slide .btn-nav.active,
.tests-slide .btn-nav:hover {
    background: url("/themes/hr-d/_images/navigation/tests/btn-nav-h.png") no-repeat;
}
.general-slide {
    background: url("/themes/hr-d/_images/navigation/general.png") no-repeat 0 12px;
}

/* MENU CSS + ANIMATIONS END */