/* tooltip styling */
#steps, .en #steps {
	z-index:1000;
	float:left;
	background:url(../../../_images/shop/shop-steps.png) no-repeat 0 0;
	width:640px;
	height:auto;
	margin:0 0 40px 10px;
}

.en #steps{	background:url(../../../_images/shop/shop-steps_en.png) no-repeat 0 0;
}

#steps .tooltip {
	display:none;
	background:url(/themes/hr-d/_images/shop/tip_overlay.png) no-repeat;
	height:90px;
	padding:20px 10px;
	width:579px;
	font-size:11px;
	color:#000;
}
#steps .tooltip a {
	color:#ad4;
	font-size:11px;
	font-weight:bold;
}
#section .tooltip h3 {
	color:#595959;
	font-size:15px;
	font-family:"Georgia","Times New Roman", Times, serif;
	font-style:italic;
	padding:5px 0 5px 14px;
	margin-top:0;
}
#section #steps a span {
	display:none;
}
#steps p.item {
	float:left;
	width:120px;
	height:49px;
	padding:0;
	margin:0;
}
#section #steps p a {
	width:120px;
	height:49px;
	display:block;
}
