/* -------------------------------------------------------------- 
   Resets default browser CSS styles.

   Created by Erik Meyer: http://meyerweb.com/eric/tools/css/reset/
   Modified by Andreas Zwinkau: http://cssninja.de
   Date: 07. April 2008
-------------------------------------------------------------- */

center, isindex, menu, dir,
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 101%;
    font-family: inherit;
    font-variant: inherit;
    vertical-align: baseline;
}

/* Remember to define focus styles! */
:focus {outline: 0}
body {
    line-height: 1.3;
    color: black;
    background: white;
}
ol, ul {list-style: none}

/* Tables still need 'cellspacing="0"' in the markup. */
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after,
q:before, q:after {content: none}
blockquote, q {quotes: none}

/* better readability */
a:visited {text-decoration: none}
a:focus {outline: Highlight solid 0.1em}

/* Bugfixing */
/* http://www.positioniseverything.net/explorer/ie-listbug.html */
ul, ol, dl {position: relative}
/* always show scrollbars with Firefox and Opera */
html {overflow: auto}

/****** BASE FORMATTING *****/

/* FONTS */

html, body, table, textarea, input {
	font-height: 1em;
	line-height: 1.4em;
	font-family: Arial, Helvetica, "Liberation Sans", sans-serif; }

pre, code, samp, kbd, 
var, input[type="password"] {
	font-family: Consolas, Monaco, "Liberation Mono", Andale Mono, monospace;
	font-size: 0.9em; }

dt, em, strong, th, samp, dfn, h3, h4 { font-weight: bold; }
strong { font-variant: small-caps; }
blockquote, q { font-style: italic; }
blockquote cite, q cite { font-style: normal; }

/* POSITION & SIZE */
sup, sub { font-size: 0.7em; line-height: 1em; }
sub	{ vertical-align: sub; }
sup	{ vertical-align: super; }

caption { text-align: center; }

hr { clear: both; }

/* TEXT & DECORATION */
input:focus { outline: 2px solid Highlight; }

acronym, abbr { cursor: help; }

/* Bug Fixing */

/* enable :hover for more than <a> in IE6 */
* html body { behavior: url("csshover.htc"); }

/* make transparent pngs work in IE6 */
* html body { behavior: url('iepngfix.htc'); }

/* Typographic stuff */
acronym { letter-spacing: 0.07em; }

/*=====================================================================================*/
/* t:o ANPASSUNG
=======================================================================================*/
* {line-height:normal;}
*:focus, a:focus,input:focus{outline:none;}
strong { font-variant:normal;}

.alt { display:none;}
