@charset "utf-8";
/* Author:	
			Matthias Oßwald
			team:orange GmbH
			2009
*/
@import url("_reset.css");
/*=====================================================================================*/
/* ALLGEMEIN
=======================================================================================*/
.footer 											{ clear:both; overflow:hidden; height:1px; }
.footer hr, hr, a span								{ display:none; }
.hidden												{ display:none; }
a.btn span                                          { display:inline; }


/*=====================================================================================*/
/* STRUCT
=======================================================================================*/
body												{ background:url(../_images/body-back.jpg) repeat-x #eff1ee; }
#stage 												{ }
#page 												{ width:920px; }
	#header 											{ background:url(../_images/header-back.png) no-repeat top left; height:82px; padding:14px 14px 0 14px; margin-left:50px; overflow:hidden;  }
	#mainnavi 											{ background:url(../_images/mainnavi-back.gif) no-repeat top left; height:255px; position:relative; }
	#content											{ background:url(../_images/content-back.png) repeat-y top left; padding:0 14px 30px 14px; margin-left:50px; }
		#section											{ float:left; padding:0 0 0 27px; width:601px;  }
		#aside												{ float:right; width:213px; position:relative;  }
	#footer 											{ background:url(../_images/footer-back.png) no-repeat top left; clear:both; height:55px; padding:0 14px; margin-left:50px; }
	
	.home #mainnavi,
	.tunnel_test #mainnavi 								{ background:url(../_images/mainnavi-home-back.gif) no-repeat top left; height:335px; }
	#login #mainnavi									{ height:255px; }


* html #header 											{ background:url(../_images/header-back.gif) no-repeat top left; }
* html #content											{ background:url(../_images/content-back.gif) repeat-y top left; }
* html #footer 											{ background:url(../_images/footer-back.gif) no-repeat top left; }

/*=====================================================================================*/
/* HEADER
=======================================================================================*/
	/*=====================================================================================*/
	/* TOPNAVI
	=======================================================================================*/
	#topnavi 											{ float:right; margin:10px 18px 0 0; }
	#topnavi li 										{ float:left; }
	#topnavi li a 										{ border-left:1px solid #999999;
														color:#999999;
														height:10px;
														float:left;
														line-height:12px;
														font-size:11px;
														font-family:Georgia, "Times New Roman", Times, serif;
														font-style:italic;
														padding:0px 4px;
														text-decoration:none; }
	#topnavi li a:hover									{ color:#000000; }
	#topnavi li.first a 								{ border:none;}
/*=====================================================================================*/
/* MAINNAVI
=======================================================================================*/
#noscriptfallback										{ background: url(../_images/content-back.png) 50px 0 repeat-y; height:255px; }
.home #noscriptfallback									{ height:335px; }

#mainnavi img											{ vertical-align:bottom;}

#mainnavi ul											{ padding:20px 0 20px 100px; clear:both;}
#mainnavi ul li											{ float:left; padding-right:10px;}
#mainnavi ul li a										{ color: #85bb16; float:left; font-weight:bold; font-size:14px; line-height:24px; padding:0 4px;}
#mainnavi ul li a.selected,
#mainnavi ul li a.selected:hover						{ background-color:#85bb16; color: #ffffff;}
#mainnavi ul ul											{ padding:0; position:absolute; top:50px; left:100px;}
#mainnavi ul li li										{ padding-right:5px; clear:both;}
#mainnavi ul li li a									{ color: #676767; font-weight:normal; font-size:12px; line-height:17px;}
#mainnavi ul li li a:hover								{ color: #85bb16; }
#mainnavi ul li li a.selected,
#mainnavi ul li a.selected:hover						{ color: #000000; font-weight:bold; background:none;}
#mainnavi ul li li ul									{ position:relative; top:0; left:10px; padding:5px 0;}
#mainnavi ul li li li a									{ color: #999; font-size:11px;}
#mainnavi ul li li li a.selected						{ color: #676767; font-weight:bold; background:none;}
/*=====================================================================================*/
/* CONTENT
=======================================================================================*/
/* ----------------------------------------------------------------------------------- */
/* 	DIAGONAL BOX  */
#content .diagonal-box									{ background:url(../_images/diagonal-box-back.gif) repeat;
														margin-bottom:20px;
														padding:6px;
														position:relative;}
#content .diagonal-box.last								{ margin-bottom:0;}
#content .diagonal-box .content							{ background-color:#FFF;
														font-size:12px;
														margin-bottom:6px;
														padding:6px;}
#content .diagonal-box .content:last-child				{ margin-bottom:0px;}

#content .diagonal-box h2								{ color:#676767;
														font-weight:bold;
														margin:8px 20px 8px 12px;}
#content .diagonal-box h5								{ color:#8dc026;
														font-family:"Georgia","Times New Roman", Times, serif;
														font-size:14px;
														font-style:italic;}
#content .diagonal-box ul								{ padding:10px 0; }
#content .diagonal-box li								{ color:#85bb0d;
														font-family:Georgia, "Times New Roman", Times, serif;}
#content .diagonal-box .textcol p						{ width:320px; }
#content .diagonal-box .imagecol						{ position:absolute; right:0; top:0; }

/* 	ZITATVARIANTE  */
#content .diagonal-box.zitat img						{ float:left; padding-top:20px; }
#content .diagonal-box.zitat .content					{ float:left; width:293px; margin-bottom:3px }
#content .diagonal-box.zitat .content p					{ font-size:11px; line-height: 16px;}
#content .diagonal-box.zitat .content p strong			{ color:#8dc026; font-weight:normal;}

/* 	KONTAKTFORMULAR  */
#content .diagonal-box form								{ margin:0;}
#content .diagonal-box form	table						{ margin:0 8px;}
#content .diagonal-box form td							{ border-bottom:1px dotted #cccccc;
														color:#353535;
														padding:4px 0 4px 0;}
#content .diagonal-box form tr.submit td				{ border-bottom:none;}
#content .diagonal-box form td.question					{ width:185px;}
#content .diagonal-box form td .text					{ width:270px;}
#content .diagonal-box form td textarea					{ width:270px; font-size:12px;}
#content .diagonal-box form td select					{ width:140px;}
#content .diagonal-box form td.required					{ color:#84bc11;}

#content .diagonal-box form #msg						{ background-color:#FFFFFF; border:1px solid #84bc11; color:#84bc11; padding:5px;}
#content .diagonal-box form #msg .error					{ font-weight:bold; padding:0;}



/* ----------------------------------------------------------------------------------- */
/* 	DIAGONAL GREEN BOX  */
#content .diagonal-green-box							{ background:url(../_images/diagonal-green-box-back.gif) repeat;
														margin-bottom:20px;
														padding:6px; }
#content .diagonal-green-box.last						{ margin-bottom:0;}
#content .diagonal-green-box .content					{ background-color:#FFF;
														color:#85bb0d;
														font-size:12px;
														margin-bottom:6px;
														padding:6px;}
#content .diagonal-green-box .content:last-child		{ margin-bottom:0px;}

#content .diagonal-green-box h2							{ color:#85bb0d;
														font-weight:bold;
														margin-top:5px;}
#content .diagonal-green-box h5							{ color:#85bb0d;
														font-family:"Georgia","Times New Roman", Times, serif;
														font-size:14px;
														font-style:italic;}
#content .diagonal-green-box p							{ color:#85bb0d;
														font-family:Georgia, "Times New Roman", Times, serif;}

/* ----------------------------------------------------------------------------------- */
/* 	ZITAT BOX  */
#content .zitat-box										{ background:url(../_images/diagonal-box-back.gif) repeat;
														margin:20px 100px 5px 12px;
														padding:6px; }
#content .zitat-box.last								{ margin-bottom:0;}
#content .zitat-box .content							{ background-color:#FFF;
														font-size:12px;
														margin-bottom:6px;
														padding:6px 6px 6px 0;}
#content .zitat-box .content:last-child					{ margin-bottom:0px;}

#content .zitat-box blockquote							{ float:left; margin:0 11px 10px 0; }
#content .zitat-box h2									{ background:none; clear:none; border:none; margin:16px 0 0 0; padding-bottom:1px; }
#content .zitat-box h2 strong							{ background:#85bb0d;
														color:#FFFFFF;
														font-weight:bold;
														font-size:14px;
														font-family:Arial, Helvetica, sans-serif;
														margin-top:5px;
														padding:0 4px;}
#content .zitat-box h3									{ font-family:Arial, Helvetica, sans-serif;
														margin:0 0 1px 0;
														padding:0; }
#content .zitat-box h3 em								{ background:#85bb0d;
														display:inline;
														color:#FFFFFF;
														font-weight:normal;
														font-size:11px;
														margin-top:6px;
														padding:0 4px;}
#content .zitat-box p,
#content .zitat-box li									{ font-size:11px; line-height:15px; padding-right:5px;}

/* ----------------------------------------------------------------------------------- */
/* 	THUMB BOX  */
#content .thumb-box										{ }
#content .thumb-box img									{ float:left; margin:0 11px 0 14px; }
#content .thumb-box .content							{ float:left; width:400px; }

	/*=====================================================================================*/
	/* SECTION
	=======================================================================================*/
	#section hr												{ border:none; background-color:#FFF; height:1px;
															 border-bottom:1px dotted #a7a6a4;
															 display:block;
															 margin:15px 95px 0 12px;}
	#section .hr hr,
	#section .hr-top hr,
	#section .hr-bottom hr									{ display:none!important;}
	#section h1												{ color:#84bc11;
															font-size:25px;
															line-height:27px;
															margin:4px 0 10px 0;
															padding:0 12px;
															text-transform:uppercase;}
	#section h1 em											{ color:#676767; font-weight:normal;}
	#section h1 embed										{ width:100%;}
	#section h2												{ background:url(../_images/green-big-dot.gif) no-repeat left 6px;
															border-bottom:1px dotted #a7a6a4;
															clear:both;
															color:#84bc11;
															font-size:16px;
															font-family:"Georgia","Times New Roman", Times, serif;
															line-height:18px;
															margin:20px 90px 4px 12px;
															padding:0 0 4px 12px;}
    #section .useCase h2                                    {border: none; padding: 10px 0 10px 50px;}
    #section .useCase h2.rahmenbedinungen                   {background: url("../_images/use-cases_sprite.png") 0px 0px no-repeat;}
    #section .useCase h2.technisch                          {background: url("../_images/use-cases_sprite.png") 0px -48px no-repeat;}
    #section .useCase h2.diagnostische                      {background: url("../_images/use-cases_sprite.png") 0px -93px no-repeat;}
    #section .useCase p                                     {padding-left: 62px !important; padding-right: 20px !important;}
	#section .useCase h2.flashheadline						{ background:none; padding-left:0; font-family:Arial, Helvetica, sans-serif; }
	#section h3												{ color:#363636;
															font-family:Georgia, "Times New Roman", Times, serif;
															font-size:12px;
															font-weight:bold;
															line-height:18px;
															margin:20px 0 5px 0;
															padding:0 90px 0 12px}
    #section .useCasesWrapper                               {width: 575px;}
    #section .useCaseLayer                                  {background: url("../_images/use-case_head.png") repeat-x; margin-bottom: 2px;}
    #section .useCaseLayer h3                               {border-top: 1px dotted #999999; background: url("../_images/use-cases_sprite.png") no-repeat -6px -139px; padding-left: 25px; cursor: pointer;
                                                             padding-top: 10px; margin: 0; padding-bottom: 5px;  padding-right: 25px;}
    #section .useCaseLayer.active h3                        {background: url("../_images/use-cases_sprite.png") no-repeat -6px -190px;}
	#section h4												{ font-size:12px;
															margin:15px 0 0 11px;}
	#section .hr											{ background:url(../_images/hr-section.gif) no-repeat; height:5px; margin:10px 0 10px 14px; }
	#section .hr-top										{ background:url(../_images/hr-section-top.jpg) no-repeat; height:12px; }
	#section .hr-bottom										{ background:url(../_images/hr-section-bottom.jpg) 0 30px no-repeat; height:12px; padding-top:30px; }
	
	#section .image-block									{ margin:10px 0 10px 12px ;}
	#section .small-image-block								{ margin:0 0 0 12px ;}
	#section .legende-block-top								{ margin:15px 0 0px 12px ;}
	#section .legende-block-bottom							{ margin:0px 0 15px 12px ;}
	
	#section p												{ color:#363636;
															font-size:12px;
															line-height:17px;
															padding:5px 120px 5px 12px;}
	#section p.teaser										{ color:#595959;
															font-size:15px;
															font-family:"Georgia","Times New Roman", Times, serif;
															font-style:italic;
															line-height:20px;
															padding:5px 120px 5px 14px;}
	.home #section p,
	#erecruiting #section p									{ padding:5px 14px 5px 14px;}
	/*#section p strong										{ color:#84bc11; font-weight:normal;}*/
	#section p a											{ color:#85bb16; font-weight:normal; text-decoration:none;}
	#section p a:hover										{ color:#595959;}
	#section p a img										{ vertical-align:middle;}
	
	#section p a.thickbox									{ float:left; margin:0 15px 5px 0; padding-top:3px; }
	
	#section ul,#section ol									{ margin:5px 120px 5px 12px; }
	#section li												{ color:#363636;
															font-size:12px;
															line-height:18px;
															margin-left:14px;
															text-indent:-14px;}
	#section ul li											{ list-style:url(../_images/green-dot.gif) inside;}
	#section ul ul											{ margin:0; }
	#section ul ul li										{ list-style:url(../_images/grey-arrow.gif) inside; }
	
	#section ol li											{ list-style:decimal inside;
															margin-left:21px;
															text-indent:-21px;}
	#section p a.startNavigator								{ background-repeat: no-repeat;
															background-image:url(../_images/buttons/navigator-starten-btn.jpg);
															background-position:top left;
															margin:-15px 0 0 -3px;
															display:block;
															height:145px;
															width:414px; }
	#section p a.startNavigator-en							{ background-repeat: no-repeat;
															background-image:url(../_images/buttons/navigator-starten-btn-en.jpg);
															background-position:top left;
															margin:-15px 0 0 -3px;
															display:block;
															height:145px;
															width:414px; }
	#section p a.startNavigator:hover						{ background-position:bottom left; }
	#section p a.startNavigator-en:hover					{ background-position:bottom left; }
	/* ----------------------------------------------------------------------------------- */
	/* 	THREECOL  */
	#section .threecol										{ padding:10px 15px 0 14px;}
	#section .threecol .leftcol								{ float:left; width:183px;}
	#section .threecol .centercol							{ float:left; margin-left:11px; width:183px;}
	#section .threecol .rightcol							{ float:right; width:183px;}

	#section .threecol h2									{ background:none; margin:0; padding:0;}
	#section .threecol p									{ font-size:11px; line-height:16px; padding:2px 5px 6px 5px; }
	#section .threecol p.teaser								{ color:#000000; font-size:14px; font-style:italic; line-height:18px; padding:5px 5px;}
	#section .threecol p a									{ color:#85bb16; font-size:12px; text-decoration:none; }
	#section .threecol p a:hover							{ color:#595959; }

	/* 	ERECRUITING */
	#erecruiting #section .threecol							{ margin-top:20px;}
	#erecruiting #section .threecol .leftcol,
	#erecruiting #section .threecol .centercol,
	#erecruiting #section .threecol .rightcol				{ background:url(../_images/diagonal-box-back.gif);
															padding:6px;
															width:168px;}
	#erecruiting #section .threecol .centercol				{ margin-left:16px;}
	#erecruiting #section .threecol .content				{ background:#FFFFFF;
															height:168px;
															margin:6px 0 0 0;
															padding:10px; }
	#erecruiting #section .threecol h2						{ margin:0 0 6px 0; padding:2px 3px; }
	#erecruiting #section .threecol p						{ padding:5px 0;}


	/* ----------------------------------------------------------------------------------- */
	/* 	TWOCOL  */
	#section .twocol										{ padding:10px 90px 0 14px;}
	#section .twocol .leftcol								{ float:left; width:242px;}
	#section .twocol .rightcol								{ float:right; width:242px;}
	
	#section .twocol p										{ font-size:11px; line-height:16px; padding:2px 5px 6px 5px; }
	#section .twocol p.teaser								{ color:#000000; font-size:14px; font-style:italic; line-height:18px; padding:5px 5px;}
	#section .twocol p a									{ font-size:12px; }

	/* ----------------------------------------------------------------------------------- */
	/* 	DIAGONAL BOX  */
	#section .diagonal-box									{ margin:20px 90px 10px 12px; }
	#section .diagonal-box h2								{ background:none;
															font-size:12px;
															font-weight:bold;
															font-style:italic;
															margin-right:12px;
															padding:0 0 2px 0; }
	#section .diagonal-box p								{ padding-right:12px; }
	/* ----------------------------------------------------------------------------------- */
	/* 	DIAGONAL GREEN BOX  */
	#section .diagonal-green-box							{ margin:20px 90px 10px 12px; }
	#section .diagonal-green-box h2							{ background:none;
															font-size:12px;
															font-weight:bold;
															font-style:italic;
															margin-right:12px;
															padding:0 0 2px 0; }
	#section .diagonal-green-box p							{ padding-right:12px; line-height: 18px; }
	#section .diagonal-green-box p a						{ color:#4A7200; }
	#section .diagonal-green-box p a:hover					{ color:#2A3F00; }

	/* ----------------------------------------------------------------------------------- */
	/* 	KONTAKT BOX  */
	#section .formBlockSurveyTable							{ margin: 15px 0 10px 14px; }
	#section .formBlockSurveyTable td						{ font-size:12px; }

	/*=====================================================================================*/
	/* STANDARDPAGE
	=======================================================================================*/
	#section #standardPage									{ font-size:12px; padding-left:12px; }
	#section #standardPage h1								{ padding-left:0px; }
	#section #standardPage h2								{  background-image:none;
															background-color:#FFF;
															border:none;
															
															margin:0!important;
															padding:10px 14px 5px 14px;}
	#section #standardPage p								{  background-color:#FFF; padding-bottom:10px; }
	#section #standardPage form br							{ display:none;}
	#section #standardPage a								{ color:#85bb16; font-weight:normal; text-decoration:none;}
	#section #standardPage a:hover							{ color:#595959;}
	#section #standardPage hr								{ clear:both; padding:10px 0 0 0; margin:10px 3px 10px 0; }
	#section #standardPage .ccm-form						{ background:url(../_images/diagonal-box-back.gif) repeat;
															margin:0 90px 20px 0;
															padding:6px 6px 25px 6px; }
	#section #standardPage form								{ background-color:#FFF;
															font-size:12px;
															margin-bottom:6px;
															padding:6px 6px 6px 11px; }
	#section #standardPage div								{ clear:both; padding:4px 0; }
	#section #standardPage label							{ float:left; width:150px; line-height:22px }
	#section #standardPage .ccm-input-text					{ float:left; width:305px;}
	#section #standardPage .ccm-button						{ background:none; text-align:right; padding-right: 4px; }
	
	/*=====================================================================================*/
	/* BLÖCKE
	=======================================================================================*/
	/* ----------------------------------------------------------------------------------- */
	/* 	SLIDER  */
	#section .slider										{ border-bottom: 1px solid #e4e4e4;
															margin:0 90px 0 12px;}
	#section .slider h4										{ background:url(../_images/accordion/accordion-headline-arrow.gif) 10px 7px no-repeat; 
															cursor:pointer;
															font-weight:normal;
															font-size:12px;
															margin:0 0 0 0;
															padding: 4px 0 4px 25px;}
	#section .slider .open h4								{ background:url(../_images/accordion/accordion-headline-arrow2.gif) 10px 7px no-repeat; }
	#section .slider .content								{ background:url(../_images/diagonal-grey-box-back.gif) repeat; margin-bottom:6px;}
	#section .slider .content p								{ color:#575757; margin:0; padding:13px 40px 13px 25px;}

	/* ----------------------------------------------------------------------------------- */
	/* 	SUBITEM  */
	#section .subitem										{ margin:20px 0 10px 0; width:497px;}
	#section .subitem .top									{ background:url(../_images/diagonal-box-back.gif) repeat; border:1px solid #e8eceb; padding:6px; }
	#content .subitem .top h2								{ background-color:#FFF; border:0; margin:0; padding:0 0 0 5px; }
	#content .subitem .top h2 a								{ color:#84bc11;  }
	#section .subitem .content								{ background:url(../_images/subitem/subitem-back.jpg) no-repeat bottom left;
															position:relative;
															padding:15px 0 0 0;}
	#section .subitem .leftcol								{ padding-bottom:30px; width:430px; }
	#section .subitem .rightcol								{ position:absolute; right:0; bottom:0; }
	/* 	INDIVIDUELL  */
	#tests #section .subitem								{ margin:20px 0 10px 15px;}
	/*-------------------------------------------------------------------------------------*/
	/* ACCORDION
	---------------------------------------------------------------------------------------*/
	#section .accordion										{ margin:0 19px 4px 15px;}
	#section .accordion .top								{ background:url(../_images/accordion/accordion-headline-back.gif) repeat-x;
															cursor:pointer;
															height:21px;}
	#section .accordion .top h4								{ background:url(../_images/accordion/accordion-headline-arrow.gif) 10px 7px no-repeat;
															color:#000000;
															display:inline;
															font-family: Georgia,"Times New Roman",Times,serif;
															font-weight:normal;
															font-size:12px;
															float:left;
															line-height:21px;
															margin:0;
															overflow:hidden;
															padding:0 0 0 25px;
															text-transform: none;}
	#section .accordion .open h4							{ background:url(../_images/accordion/accordion-headline-arrow2.gif) 10px 7px no-repeat; }
	#section .accordion .top .choise						{ float:right; padding-right:3px;}
	#section .accordion .top .choise div					{ float:left;
															font-size:10px;
															height:19px;
															margin:1px 1px 0 0;
															text-align:center;
															width:19px; }
	#section .accordion .top .choise .Sverfuegbar			{ background:url(../_images/accordion/choise.jpg) no-repeat 0px -38px ;}
	#section .accordion .top .choise .Soptional				{ background:url(../_images/accordion/choise.jpg) no-repeat 0px -19px ;}
	#section .accordion .top .choise .Snicht-verfuegbar		{ background:url(../_images/accordion/choise.jpg) no-repeat 0px 0px ;}

	#section .accordion .top .choise .Mverfuegbar			{ background:url(../_images/accordion/choise.jpg) no-repeat -18px -38px ;}
	#section .accordion .top .choise .Moptional				{ background:url(../_images/accordion/choise.jpg) no-repeat -18px -19px ;}
	#section .accordion .top .choise .Mnicht-verfuegbar		{ background:url(../_images/accordion/choise.jpg) no-repeat -18px 0px ;}

	#section .accordion .top .choise .XLverfuegbar			{ background:url(../_images/accordion/choise.jpg) no-repeat -36px -38px ;}
	#section .accordion .top .choise .XLoptional			{ background:url(../_images/accordion/choise.jpg) no-repeat -36px -19px ;}
	#section .accordion .top .choise .XLnicht-verfuegbar	{ background:url(../_images/accordion/choise.jpg) no-repeat -36px 0px ;}

	#section .accordion .top .choise .SSPverfuegbar			{ background:url(../_images/accordion/choise.jpg) no-repeat -54px -38px; width:21px;}
	#section .accordion .top .choise .SSPoptional			{ background:url(../_images/accordion/choise.jpg) no-repeat -54px -19px; width:21px;}
	#section .accordion .top .choise .SSPnicht-verfuegbar	{ background:url(../_images/accordion/choise.jpg) no-repeat -54px 0px; width:21px;}


	#section .accordion .content							{ background:url(../_images/accordion/accordion-content-back.gif) repeat;
															 clear:both;
																 padding:10px 4px 15px 4px;
															 position:relative;}
	#section .accordion .content p							{ padding:5px 20px 5px 23px;}
	
	/*-------------------------------------------------------------------------------------*/
	/* REFERENZENLISTE
	---------------------------------------------------------------------------------------*/
	#section #referenzenliste 								{ width: 600px; padding-left:13px;}
	#section #referenzenliste img 							{ float: left; padding: 0 10px 10px 0;}
	/*-------------------------------------------------------------------------------------*/
	/* PRESSE / NEWS
	---------------------------------------------------------------------------------------*/
	#section .news,
	#section .presse										{ padding:13px 0; }
	#section .news .top h4,
	#section .presse .top h4								{ color:#85BB16;
															font-family:Georgia, "Times New Roman", Times, serif;
															font-size:13px;
															font-weight:normal;
															 margin:5px 0 5px 12px;}
	#section .news .top h5,
	#section .presse .top h5								{ font-size:10px; margin:0 0 0 12px; font-weight:bold; }
	#section .news .bottom,
	#section .presse .bottom								{ border-top: 1px dotted #CCCCCC;
															 margin:10px 98px 0 12px;}	
	#section .news .bottom p,
	#section .presse .bottom p								{ font-size:10px; font-weight:bold; padding:0; }
	#section .news .bottom a,
	#section .presse .bottom a								{ background:url(../_images/green-arrow.gif) no-repeat 0 4px;
															color:#85BB16;
															padding-left:8px;
															font-weight:bold;
															text-decoration:none; }
	#section .news .bottom a:hover
	#section .presse .bottom a:hover						{ color:#2A3F00; }


	/*=====================================================================================*/
	/* ASIDE
	=======================================================================================*/
	#aside .hr-top											{ background:url(../_images/hr-aside-top.jpg); clear:both; height:12px; }
	#aside .hr-bottom										{ background:url(../_images/hr-aside-bottom.jpg); clear:both; height:12px; }
	
	#aside a.btn img										{ padding:5px 0 0 12px ;}
	
	#aside .diagonal-box									{ margin:0 12px 12px 12px; }
	#aside .diagonal-box .content p							{ font-size:11px; line-height:16px;}
	
	/*-------------------------------------------------------------------------------------*/
	/* referenzen
	---------------------------------------------------------------------------------------*/
	#referenzen .middle h1 									{ margin-bottom:5px; padding-right:15px; text-align:center; }
	#referenzen .refPreview 								{ padding-bottom:5px;}
	#referenzen .refPreview div								{ position:relative; height:66px;}
	#referenzen .refPreview img								{ position:absolute; top:0; left:15px;}
	#referenzen .refPreview a 								{ background:none!important;}
	#aside #referenzen a	     							{ color:#85bb16; text-decoration:none;}
	#aside #referenzen a:hover								{ color:#595959; text-decoration:none;}	
	#aside #referenzen h3									{display: inline; background: none repeat scroll 0 0 #85BB0D; color: #FFFFFF;
															 font-size: 12px; font-weight: bold; margin-top: 5px; padding: 0 4px;}
	#aside #referenzen hr									{border:none; background-color:#FFF; height:1px;
															 border-bottom:1px dotted #a7a6a4; display:block;
															 margin:15px 0px 15px 5px;}
															 
															 
	
	.letterHead {											  background: none repeat scroll 0 0 #F2F2F2;
															  height: 45px;
															  margin-bottom: 16px;
															  margin-left: -6px;
															  margin-top: -6px;
															  padding: 5px;
															  width: 166px;}	
	.letterHead .hrLetter									{ margin-top:5px;}
														  
															  
	.letterHead h4											{ background: none repeat scroll 0 0 #85BB16;
															  clear: both;
															  color: #FFFFFF;
															  float: right;
															  font-size: 14px;
															  font-weight: bold;
															  padding: 3px 8px;
															  text-transform: uppercase;}	
	#letterNav  a	     									{ color: #85BB16;
															  display: block;
															  font-family: Arial,Helvetica,sans-serif;
															  padding-left: 10px;
															  text-decoration: none;
															  text-indent: -10px;}
	#letterNav.diagonal-box  ul			     				{ padding:5px 0 10px 0!important;} 
	#letterNav  li.active	     							{ color:#000;} 
	#letterNav  li.active a	     							{ color:#000;} 


	#letterNav hr{											-moz-border-bottom-colors: none;
															-moz-border-left-colors: none;
															-moz-border-right-colors: none;
															-moz-border-top-colors: none;
															background-color: #FFFFFF;
															border-color: -moz-use-text-color -moz-use-text-color #A7A6A4;
															border-image: none;
															border-style: none none dotted;
															border-width: medium medium 1px;
															display: block;
															height: 1px;
															margin: 5px 0;}

/*=====================================================================================*/
/* FOOTER
=======================================================================================*/
	/*=====================================================================================*/
	/* FOOTERNAVI
	=======================================================================================*/
	#footernavi 										{ float:right; margin:10px 18px 5px 0; }
	#footernavi li 										{ float:left; }
	#footernavi li a 									{  border-left:1px solid #999999;
														color:#999999;
														height:10px;
														float:left;
														line-height:8px;
														font-size:11px;
														font-family:Georgia, "Times New Roman", Times, serif;
														font-style:italic;
														padding:0px 4px;
														text-decoration:none; }
	#footernavi li a:hover								{ color:#000000; }
	#footernavi li.first a 								{ border:none;}


	/*=====================================================================================*/
	/* FOOTERBAR
	=======================================================================================*/
	#footerbar	 										{ clear:both;
														color:#FFFFFF;
														font-size:11px; 
														padding-left:20px;}
	#footerbar a 										{ color:#FFFFFF;
														font-size:9px;
														line-height:17px;
														text-decoration:none;
														padding-top:4px; }
	





