.showcase-load {
	height: 200px; /* Same as showcase javascript option */
	overflow: hidden;
}


/* Container when content is shown in slider */
.showcase {
	position: relative;
	margin: auto;
	width: 655px;
	padding:0 157px;
}
.showcase-content-container {
	background-color: #fff;
}
/* Navigation arrows */
.showcase-arrow-previous, .showcase-arrow-next {
	position: absolute;
	background: url('../images/arrows.png');
	width: 41px;
	height: 30px;
	top: 90px;
	cursor: pointer;
	z-index: 10;
}
.showcase-arrow-previous {
	left: 105px;
}
.showcase-arrow-next {
	right: 105px;
	background-position: -40px 0;
}
.showcase-arrow-next:hover {
	background-position: -40px -31px;
}
.showcase-arrow-previous:hover {
	background-position: 0px -31px;
}
/* Content */
.showcase-content {
	background-color: #fff;
	text-align: center;
}
.showcase-content-wrapper {
	text-align: center;
	height: 200px;
	display: table-cell;
	vertical-align: middle;
	position:relative;
}

/* Styling the tooltips */
.showcase-plus-anchor {
	background-image: url('../images/plus.png');
	background-repeat: no-repeat;
}
.showcase-plus-anchor:hover {
	background-position: -32px 0;
}
div.showcase-tooltip {
	background-color: #fff;
	color: #000;
	text-align: left;
	padding: 5px 8px;
	background-image: url(../images/white-opacity-80.png);
}
/* Styling the caption */
.showcase-caption {
	color: #000;
	padding: 8px 15px;
	text-align: left;
	position: absolute;
	bottom: 10px;
	left: 10px;
	right: 10px;
	background-image: url(../images/white-opacity-80.png);
}

/* Caption */

.txt {
	background:url(../images/slider-caption-bg.png) repeat;
	height:55px;
	margin:4px 0 0px 0;
	text-align:left;
	padding: 10px;
	width:635px;
	bottom:0px;
	position:absolute;
	z-index:9;
}
.static-caption {
 	color:#676767; 
	font-weight:normal;
	font-size:25px;
	line-height:27px;
	margin:4px 0 0px 0;
	text-transform:lowercase;
	text-align:left;
	width:635px;
	bottom:13px;
	position:absolute;
	z-index:9;
}
.static-caption span {
	font-size:13px; 
	color:#8dc21a;
	display:block;
	text-transform:none;}

/* Button Wrapper */
.showcase-button-wrapper {
	clear: both;
	margin-top: 10px;
	text-align: center;
}

.showcase-button-wrapper a{
	cursor:pointer;

}

.showcase-button-wrapper span {
	margin-right: 3px;
	padding: 2px 5px 0px 5px;
	cursor: pointer;
	font-size: 12px;
	color: #444444;
}
.showcase-button-wrapper span.active {
	color: #fff;
}
.showcase-content-wrapper h2.slider{ position:absolute; z-index:10; width:655px; height:40px; overflow:hidden;}
.showcase-content-wrapper h2.slider *{height:40px!important;}
.showcase-content-wrapper .static-caption *{height:26px!important;}
